<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task board</title>
    <link rel="stylesheet" href="/View/styles/user/calendar.css">
    <link rel="stylesheet" href="/View/styles/project_leader_dashboard.css">
    <link rel="stylesheet" href="/View/styles/group_leader/dashboard.css">
    <link rel="stylesheet" href="/View/styles/project_member/todoTaskPopup.css">
    <link rel="stylesheet" href="/View/styles/project_member/ongoingTaskPopup.css">
    <link rel="stylesheet" href="/View/styles/project_member/reviewTaskPopup.css">
    <link rel="stylesheet" href="/View/styles/project_member/search_task_area.css">
    <link rel="stylesheet" href="/View/styles/user/notification.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container">
        <div class="notification-popup-container">
            <div class="notification-popup">
                <div class="notification-popup-top">
                    <h3>Notifications</h3>
                    <i class="fa fa-times notification-popup-close-btn" aria-hidden="true"></i>
                </div>
                <div class="notifications">
                    
                </div>
            </div>
        </div>
        <div class="create-project-container">
            <div class="create-project-popup">
                <div class="create-project-top">
                    <div class="create-project-header">
                        <h3>Let's create a workspace.</h3>
                        <p>Make it simpler for everyone to access boards in one place to increase productivity.</p>
                    </div>
                    <i class="fa fa-times create-project-popup-close" aria-hidden="true"></i>
                </div>
                <div class="create-project-details">
                    <div class="create-project-form">
                        <form action="#" method="post">
                            <label for="projectName">Project Name</label>
                            <br>
                            <input type="text" name="projectName" placeholder="Enter project name ...">
                            <br>
                            <p>Your business, group, or organization's name is here.</p>
    
                            <label for="projectType">Project Type</label>
                            <br>
                            <input type="text" name="projectType" placeholder="Enter project type ...">
    
                            <br>
                            <label for="projectDescription">Project Description</label>
                            <br>
                            <input type="text" id="projectDescription" name="projectDescription" placeholder="Please enter something on your project ... ">
    
                            <br>
                            <button type="submit">CREATE</button>
                        </form>
                    </div>
                    <img src="/View/images/project_create.png" alt="project_create">
                </div>
            </div>
        </div>
        <div class="navbar">
            <div class="left-logo-area">
                <a href="http://localhost/public/user/dashboard" style="text-decoration: none;">
                    <img src="/View/images/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="right-profile-area">
                <button type="submit" class="navbar-new-project">+ New Project</button>
                <i class="fa fa-bell-o  notification-bell-btn" aria-hidden="true"></i>
                <i class="fa fa-sign-out" id="log-out-btn" aria-hidden="true"></i>
                <a href="http://localhost/public/user/profile"><img src="/View/images/dp.png" alt="profile picture" class="profile-image"></a>
            </div>
        </div>

        <div class="task-boards-container">

            <div class="left-panel">
                <div class="top-menus">
                    <ul class="menu">

                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none; color: #333;">
                            <li class="dashboard">Dashboard</li>
                        </a>
                      
                        <a href="http://localhost/public/user/profile" style="text-decoration: none; color: #333;">
                            <li class="profile">Profile</li>
                        </a>
                        <a href="http://localhost/public/group/leader/group/forum" style="text-decoration: none; color: #333;">
                            <li class="settings">Forum</li>
                        </a>
                        <a href="http://localhost/public/user/sketch" style="text-decoration: none; color: #333;">
                            <li class="sketch-idea">Sketch idea</li>
                        </a>
                    </ul>
                    <ul class="menu-icon">

                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none; color: #333;">
                            <li class="dashboard"><i class="fa fa-address-book" aria-hidden="true"></i></li>
                        </a>
                      
                        <a href="http://localhost/public/user/profile" style="text-decoration: none; color: #333;">
                            <li class="profile"><i class="fa fa-user" aria-hidden="true"></i></li>
                        </a>
                        <a href="http://localhost/public/projectmember/forum" style="text-decoration: none; color: #333;">
                            <li class="forum"><i class="fa fa-forumbee"></i></li>
                        </a>
                        <a href="http://localhost/public/user/sketch" style="text-decoration: none; color: #333;">
                            <li class="sketch-idea"><i class="fa fa-paint-brush" aria-hidden="true"></i></li>
                        </a>
                        <li class="calender"><i class="fa fa-calendar" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="middle-icon">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </div>
                <div class="middle-icon2">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>

                <div class="bottom-calender">
                    <div class="top-month">
                        <button type="submit" class="previous-month-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                        <p><span class="month"></span> <span class="year"></span></p>
                        <button type="submit" class="next-month-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="day-names">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    <div class="days">
                        
                    </div>
                </div>
                <div class="deadline-popup">
                    <h3>Events</h3>
                    <hr>
                    <div class="events">
                        <p>Build meeting API</p>
                        <p>Design UI</p>
                    </div>
                </div>
            </div>

            <div class="right-panel">
                <div class="search-bar">

                    <div class="search-box">
                        <input type="text" placeholder="Search your project tasks ...">
                        <!-- <i class="fa fa-filter" aria-hidden="true"></i> -->
                    </div>
                    <a href="http://localhost/public/projectleader/getinfo"><p id="projectName">Mentcare Web App</p></a>
                </div>

                <div class="TO-DO-task-details">

                    <div class="todo-top-bar">
                        <h3></h3>
                        <p class=""></p>
                    </div>
                    <p class="todo-task-details-description"></p>
                    <p class="todo-task-details-deadline"></p>

                    <div class="todo-task-feedbacks">
                        <div class="todo-task-feedback-area"></div>
                        <form action="#" method="post">
                            <label for="feedbackMessage"></label>
                            <input type="text" name="feedbackMessage" placeholder="Send something ..." disabled>
                            <button disabled type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        </form>
                    </div>

                    <div class="buttons">
                        <input type="text" name="assignedMember" class="assign-member-for-task" placeholder="Assign member ...">
                        <p id="cancel-todo-task-details">Cancel</p>
                        <p id="pickup-task-btn">PickUp</p>
                    </div>
                </div>

                <div class="Ongoing-task-details">
                    <div class="ongoing-top-bar">
                        <h3></h3>
                        <p class=""></p>
                    </div>
                    <p class="ongoing-task-details-description"></p>
                    <p class="ongoing-task-details-deadline"></p>

                    <div class="ongoing-task-feedbacks">
                        <div id="ongoing-task-feedback-messages" class="ongoing-task-feedback-messages">
                            <div class="ongoing-incomming-feedback">
                                <div class="ongoing-incomming-feedback-sender">
                                    <img src="" alt="">
                                </div>
                                <div class="ongoing-incomming-feedback-message">
                                    <p class="ongoing-incomming-feedbacks"></p>
                                    <p class="ongoing-incomming-time"></p>
                                </div>
                            </div>

                            <div class="ongoing-outgoing-feedback">
                                <div class="ongoing-outgoing-feedback-message">
                                    <p class="ongoing-outgoing-feedbacks"></p>
                                    <p class="ongoing-outgoing-time"></p>
                                </div>
                            </div>

                        </div>

                        <form id="ongoing-task-feedback-form" method="post">
                            <label for="feedbackMessage"></label>
                            <input id="ongoing-task-feedback-form-input" type="text" name="feedbackMessage" placeholder=" Send task feedback ...">
                            <button id="ongoing-feedback-message-btn" type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        </form>
                        
                    </div>
                    <div class="buttons">
                        <p id="cancel-ongoing-task-details">Cancel</p>
                        <p id="finishTaskBtn">Finish</p>
                    </div>
                </div>

                <div class="Review-task-details">
                    <div class="review-top-bar">
                        <h3></h3>
                        <p class=""></p>
                    </div>
                    <p class="review-task-details-description"></p>
                    <p class="review-task-details-deadline"></p>

                    <div class="review-task-feedbacks">
                        <div class="review-task-feedback-messages">
                            <div class="review-incomming-feedback">
                                <div class="review-incomming-feedback-sender">
                                    <img src="" alt="">
                                </div>
                                <div class="review-incomming-feedback-message">
                                    <p class="review-incomming-feedbacks"></p>
                                    <p class="review-incomming-time"></p>
                                </div>
                            </div>

                            <div class="review-outgoing-feedback">
                                <div class="review-outgoing-feedback-message">
                                    <p class="review-outgoing-feedbacks"></p>
                                    <p class="review-outgoing-time"></p>
                                </div>
                            </div>
                        </div>
                        <form id="review-task-feedback-form" method="post">
                            <label for="feedbackMessage"></label>
                            <input id="review-task-feedback-form-input" type="text" name="feedbackMessage" placeholder=" Send task feedback ...">
                            <button id="review-feedback-message-btn" type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="buttons">
                        <p id="completedMessage"></p>
                        <p id="continueBtn" style="margin-left: 100px">Continue</p>
                    </div>
                </div>

                <div class="confirmation-popup">
                    <div class="close-area"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <div class="message-area">
                        <p></p>
                    </div>
                    <div class="input-area">
                        
                        <input id="confirmationMessage" type="text" name="confirmationMessage" placeholder="Type confirmation message...">
                        <label for="confirmationFile"><i class="fa fa-file" aria-hidden="true" style="display: none;"></i></label>
                        <input id="confirmationFile" type="file" name="confirmationFile" style="display: none;">
                        <button type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        
                    </div>
                </div>
                
                <div class="group-details">
                    <div class="progress">
                        <div class="cuircular-progress">
                            <div class="progress-value">0%</div>
                        </div>
                    </div>
                    <div class="group-info">
                        <a href="http://localhost/public/groupleader/group"><h3 id="groupName">UI/UX Component devlopment</h3></a>
                        <p id="groupDescription">mHealth apps facilitate engagement through effective patient-focused care, personalized experiences & knowledge sharing between providers and patients. Patients can access and monitor their medical records/prescription details from the convenience of their own homes without visiting hospitals.</p>
                    
                        <h6 id="groupStart">Start date : 2022-10-12 <span>Deadline : 2023-02-10</span></h6>
                    </div>
                </div>

                <div class="task-boards">
                    <div class="todo board">

                        <div class="board-top">
                            <h3>TO DO</h3>
                            <i id="add-task-btn" class="fa fa-plus" aria-hidden="true"></i>
                        </div>

                        <div class="create-task-popup">
                            <h4>Create Task</h4>
                            <form action="http://localhost/public/groupleader/task" method="post">
                                <div class="task-details">
                                    <label for="taskname">Task Name</label>

                                    <input type="text" name="taskname" id="taskname" placeholder="Task name ...">
                                    <label for="taskdescription">Description</label>
                                    <input type="text" name="taskdescription" id="taskdescription" placeholder="Task description ...">
                                    <label for="taskdeadline">Deadline</label>
                                    <input type="date" name="taskdeadline" id="taskdeadline">
                                    <label for="assignedMember">Assign a member</label>
                                    <input type="text" name="assignedMember" id="assignedMember" placeholder="Enter username or email...">
                                    
                                </div>
                                <div class="priority-high">
                                    
                                    <input type="radio" value="low" id="low" name="priority" checked>
                                    <label for="priority">Low</label>
                                    <br>
                                    <input type="radio" value="medium" id="medium" name="priority">
                                    <label for="priority">Medium</label>
                                    <br>
                                    <input type="radio" value="high" id="high" name="priority">
                                    <label for="priority">High</label>
                                    <br>

                                    <div class="finish-created-task">
                                        <button type="submit" id="create-task-btn"><i class="fa fa-check" aria-hidden="true"></i></button>
                                        <p id="cancel-task-btn"><i class="fa fa-times" aria-hidden="true"></i></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        
                        <div class="tasks">
                            
                            
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4></h4>
                                    <p class="priority-high"></p>
                                </div>
                                <p class="task-description"></p>
                                <div class="bottom-task" style="display:flex">
                                    <p class="deadline"></p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="ongoing board">
                        <h3>ON GOING</h3>
                        <div class="tasks">
                            
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4></h4>
                                    <p class="priority-high"></p>
                                </div>
                                <p class="task-description"></p>
                                <div class="bottom-task" style="display:flex">
                                    <p class="deadline"></p>
                                    <img id="member-profile" src="" alt="">
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="review board">
                        <h3>REVIEW</h3>
                        <div class="tasks">
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4></h4>
                                    <p class="priority-high"></p>
                                </div>
                                <p class="task-description"></p>
                                <div class="bottom-task" style="display:flex">
                                    <p class="deadline"></p>
                                    <img id="member-profile" src="" alt="">
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="done board">
                        <h3>DONE</h3>
                        <div class="tasks">
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4></h4>
                                    <p class="priority-high"></p>
                                </div>
                                <p class="task-description"></p>
                                <div class="bottom-task" style="display:flex">
                                    <p class="deadline"></p>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="search-results"></div>

        </div>
    </div>
    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/group_leader/dashboard.js"></script>
    <script src="/View/js/user/logout.js"></script>
    <script src="/View/js/user/calendar.js"></script>
    <!-- <script src="/View/js/user/createProject.js"></script> -->
    <script src="/View/js/project_member/search_task_engine.js"></script>
    <script src="/View/js/user/createProject.js"></script>
    <script src="/View/js/user/sidebar.js"></script>
    <script src="/View/js/user/notification.js"></script>
</body>
</html>
