<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/View/styles/styles_less.css" />
    <link rel="stylesheet" href="/View/styles/landing.css" />
    <title>Marshal</title>
</head>

<body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">MARSHAL</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links" list-style-type="none">
            <div class="menu">
                <button id="create-project-btn">Create new project</button>
                <button id="log-out-btn">Log Out</button>
            </div>
        </ul>
    </nav>

    <p>This is the project landing page of a group leader</p>

    <script src="/View/js/group_leader/dashboard.js"></script>
</body>

</html>