<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/styles/group_leader/chat.css">
    <title>Marshal</title>
</head>

<body>

<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">MARSHAL</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links" list-style-type="none">
        <div class="menu">
            <button id="create-project-btn">Create new project</button>
            <a href="http://localhost/public/user/dashboard">
                <button>Dashboard</button>
            </a>
            <button id="log-out-btn">Log Out</button>
        </div>
    </ul>
</nav>

</body>

</html>