<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Dashboard</title>
    <link rel="stylesheet" href="/View/styles/group_leader/forum.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">
        <div class="create-project-container">
            <div class="create-project-popup">
                <div class="create-project-top">
                    <div class="create-project-header">
                        <h3>Let's create a workspace.</h3>
                        <p>Make it simpler for everyone to access boards in one place to increase productivity.</p>
                    </div>
                    <i class="fa fa-times create-project-popup-close" aria-hidden="true"></i>
                </div>
                <div class="create-project-details">
                    <div class="create-project-form">
                        <form action="http://localhost/public/user/projects" method="post">
                            <label for="projec_name">Project Name</label>
                            <br>
                            <input type="text" name="project_name" placeholder="Enter project name ...">
                            <br>
                            <p>Your business, group, or organization's name is here.</p>
    
                            <label for="field">Project Type</label>
                            <br>
                            <input type="text" name="field" placeholder="Enter project type ...">
    
                            <br>
                            <label for="description">Project Description</label>
                            <br>
                            <input type="text" id="description" name="description"
                                placeholder="Please enter something on your project ... ">
    
                            <br>
                            <button type="submit">CREATE</button>
                        </form>
                    </div>
                    <img src="/View/images/project_create.png" alt="project_create">
                </div>
            </div>
        </div>

        <div class="navbar">
            <div class="left-logo-area">
                <a href="http://localhost/public/user/dashboard" style="text-decoration: none;">
                    <img src="/View/images/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="right-profile-area">
                <button type="submit" class="navbar-new-project" style="display:none;">+ New Project</button>
                <i class="fa fa-bell-o  notification-bell-btn" aria-hidden="true"></i>
                <i class="fa fa-sign-out" id="log-out-btn" aria-hidden="true"></i>
                <a href="http://localhost/public/user/profile"><img alt="/App" class="profile-image"></a>
            </div>
        </div>

        <div class="projects-container">
            <div class="left-panel">
                <div class="top-menus">
                    <ul class="menu">

                        <a style="text-decoration: none; color: black;" href="http://localhost/public/user/dashboard"
                            style="text-align: none;">
                            <li class="dashboard">Dashboard</li>
                        </a>

                        <a style="text-decoration: none; color: black;" href="http://localhost/public/user/profile">
                            <li class="profile">Profile</li>
                        </a>
                        <a style="text-decoration: none; color: black; display: none;" href="#">
                            <li class="sketch-idea">Forum</li>
                        </a>
                        <a style="text-decoration: none; color: black; display: none;" href="#">
                            <li class="sketch-idea">Upload File</li>
                        </a>

                        <a href="http://localhost/public/group/leader/group/forum" style="text-decoration: none; color: #333;">
                            <li class="settings active">Group Forum</li>
                        </a>

                        <a href="#" style="text-decoration: none; color: #333;">
                            <li class="profile">Project Board</li>
                        </a>

                    </ul>
                    <ul class="menu-icon">
                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none; color: #333;">
                            <li class="dashboard"><i class="fa fa-address-book" aria-hidden="true"></i></li>
                        </a>

                        <a style="text-decoration: none; color: black;" href="http://localhost/public/user/profile">
                            <li class="profile"><i class="fa fa-user" aria-hidden="true"></i></li>
                        </a>

                        <a style="text-decoration: none; color: black; display: none;" href="#">
                            <li class="settings"><i class="fa fa-forumbee"></i></li>
                        </a>

                        <a style="text-decoration: none; color: black; display: none;" href="#">
                            <li><i class="fa fa-file-arrow-up" aria-hidden="true"></i></li>
                        </a>

                        <a href="http://localhost/public/projectmember/forum" style="text-decoration: none; color: #333;">
                            <li class="forum active"><i class="fa fa-forumbee"></i></li>
                        </a>

                        <a href="#" style="text-decoration: none; color: #333;">
                            <li class="profile"><i class="fa-solid fa-rectangle-list"></i></li>
                        </a>

                        <li class="calender"><i class="fa fa-calendar" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="middle-icon" style="margin-top: 92px;">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </div>
                <div class="middle-icon2" style="margin-top: -5px;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>

                <div class="bottom-calender">
                    <div class="top-month">
                        <button type="submit" class="previous-month-btn"><i class="fa fa-caret-left"
                                aria-hidden="true"></i></button>
                        <p><span class="month"></span> <span class="year"></span></p>
                        <button type="submit" class="next-month-btn"><i class="fa fa-caret-right"
                                aria-hidden="true"></i></button>
                    </div>
                    <div class="day-names">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    <div class="days">

                    </div>
                </div>
            </div>
            <div class="right-panel">

                <div class="messaging-area">
                    <h3>Message Forum</h3>
                    <div class="chatting-area" id="messages-container-div">
                    </div>
                    <div class="send-area">
                        <form id="message-input-form">
                            <label for="message-input">
                                <input type="text" id="message-input" name="message" placeholder="Type your message..."
                                    required>
                            </label>
                            <button type="submit">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="member-list">
                    <div id="leaders-list-container-div" class="group-members">
                        <h3>Group Leader</h3>
                        <!-- add the leaders here -->
                    </div>

                    <div id="members-list-container-div" class="group-members">
                        <h3>Group Members</h3>
                        <!-- add the members here -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="notification-popup-container">
        <div class="notification-popup">
            <div class="notification-popup-top">
                <h3>Notifications</h3>
                <i class="fa fa-times notification-popup-close-btn" aria-hidden="true"></i>
            </div>
            <div class="notifications">

            </div>
        </div>
    </div>
    

    </div>

    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/group_leader/forum.js"></script>
    <script src="/View/js/user/member_attachments.js"></script>
    <script src="/View/js/user/sidebar.js"></script>
    <script src="/View/js/user/profile_picture.js"></script>
    <script src="/View/js/user/calendar.js"></script>
    <script src="/View/js/user/createProject.js"></script>
    <script src="/View/js/user/notification.js"></script>
    <script src="/View/js/user/notificationPopup.js"></script>
    <script src="https://kit.fontawesome.com/0ecc390bb7.js" crossorigin="anonymous"></script>
</body>

</html>