<!DOCTYPE html>
<html>

<head>
    <title>Marshal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
</head>

<body>
    <h1>WebRTC Video Conference</h1>
    <div id="controls">
        <div>
            <label for="username">Enter your name:</label>
            <input type="text" id="username" name="username">
        </div>
        <button id="connect" disabled>Connect</button>
        <button id="hangup" disabled>Hang up</button>
    </div>
    <div id="videos">
        <video id="localVideo" autoplay></video>
        <video id="remoteVideo" autoplay></video>
    </div>
    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/project_leader/conference.js"></script>
</body>

</html>