<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task board</title>
    <link rel="stylesheet" href="/View/styles/project_leader_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container">

        <div class="navbar">
            <div class="left-logo-area">
                <img src="/View/images/logo.png" alt="logo" class="logo">
            </div>
            <div class="right-profile-area">
                <button type="submit" class="navbar-new-project">+ New Project</button>
                <i class="fa fa-bell-o  notification-bell-btn" aria-hidden="true"></i>
                <i class="fa fa-sign-out" id="log-out-btn" aria-hidden="true"></i>
                <img src="/View/images/dp.png" alt="profile picture" class="profile-image">
            </div>
        </div>

        <div class="task-boards-container">

            <div class="left-panel">
                <div class="top-menus">
                    <ul>
                        <li class="dashboard active">Dashboard</li>
                        <li class="new-project">New project</li>
                        <li class="profile">Profile</li>
                        <li class="settings">Settings</li>
                        <li class="sketch-idea">Sketch idea</li>
                    </ul>
                </div>
                <div class="middle-icon">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </div>

                <div class="bottom-calender">
                    <div class="top-month">
                        <button type="submit" class="previous-month-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                        <p><span class="month"></span> <span class="year"></span></p>
                        <button type="submit" class="next-month-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="day-names">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    <div class="days">
                        
                    </div>
                </div>
            </div>

            <div class="right-panel">
                <div class="search-bar">

                    <div class="search-box">
                        <input type="text" placeholder="Search your project tasks ...">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </div>
                    <a href="http://localhost/public/projectleader/getinfo"><p>Mentcare Web App</p></a>
                </div>

                <div class="task-boards">
                    <div class="todo board">

                        <div class="board-top">
                            <h3>TO DO</h3>
                            <i id="add-task-btn" class="fa fa-plus" aria-hidden="true"></i>
                        </div>

                        <div class="create-task-popup">
                            <h4>Create Task</h4>
                            <form action="#" method="post">
                                <div class="task-details">
                                    <label for="taskname">Task Name</label>

                                    <input type="text" name="taskname" id="taskname" placeholder="Task name ...">
                                    <label for="taskdescription">Description</label>
                                    <input type="text" name="taskdescription" id="taskdescription" placeholder="Task description ...">
                                    <label for="taskdeadline">Deadline</label>
                                    <input type="date" name="taskdeadline" id="taskdeadline">
                                    <label for="assignedMember">Assign a member</label>
                                    <input type="text" name="assignedMember" id="assignedMember" placeholder="Enter username or email...">
                                    
                                </div>
                                <div class="priority">
                                    <div class="select-priority">
                                        <span class="selected-priority">Low</span>
                                        <div class="caret"></div>
                                    </div>
                                    <ul class="priority-menu">
                                        <li class="active-priority">Low</li>
                                        <li>Medium</li>
                                        <li>High</li>
                                    </ul>

                                    <div class="finish-created-task">
                                        <p id="create-task-btn">Create</p>
                                        <p id="cancel-task-btn">Cancel</p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        
                        <div class="tasks">
                            
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 1</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 2</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 3</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 4</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 5</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                        </div>
                    </div>
                    <div class="ongoing board">
                        <h3>ON GOING</h3>
                        <div class="tasks">
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 6</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 7</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            
                        </div>
                    </div>
                    <div class="done board">
                        <h3>DONE</h3>
                        <div class="tasks">
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 8</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            <div class="task" draggable="true">
                                <div class="top-task">
                                    <h4>Develop API 9</h4>
                                    <p>High</p>
                                </div>
                                <p class="task-description">Built an API for meeting site Built an API for meeting site Built an API for meeting site</p>
                                <p class="deadline">13-11-2022</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/View/js/project_leader/dashboard.js"></script>
</body>
</html>


















<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/View/styles/styles_less.css" />
    <link rel="stylesheet" href="/View/styles/landing.css" />
    <title>Marshal</title>
</head>

<body>
    <nav class="navbar">
        
        <div class="logo">MARSHAL</div>
        
        <ul class="nav-links" list-style-type="none">
            <div class="menu">
                
                <a href="http://localhost/public/projectleader/getinfo">Get Info</a>
                <button id="create-project-btn">Create new project</button>
                <button id="log-out-btn">Log Out</button>
            </div>
        </ul>
    </nav>

    <p>This is the project landing page of a project leader</p>

    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/project_leader/dashboard.js"></script>
    
</body>

</html> -->