<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Dashboard</title>
    <link rel="stylesheet" href="/View/styles/user/calendar.css">
    <link rel="stylesheet" href="/View/styles/project_leader/project_info.css">
    <link rel="stylesheet" href="/View/styles/user/notification.css">
    <link rel="stylesheet" href="/View/styles/project_member/archive_confirm_popup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <div class="container">
        
        <div class="navbar">
            <div class="left-logo-area">
                <a href="http://localhost/public/user/dashboard" style="text-decoration: none;">
                    <img src="/View/images/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="right-profile-area">
                <button type="submit" class="navbar-new-project" style="display:none;">+ New Project</button>
                <i class="fa fa-bell-o  notification-bell-btn" aria-hidden="true"></i>
                <i class="fa fa-sign-out" id="log-out-btn" aria-hidden="true"></i>
                <a href="http://localhost/public/user/profile"><img src="/View/images/dp.png" alt="profile picture" class="profile-image"></a>
            </div>
        </div>

        <div class="projects-container">
            <div class="left-panel">
                <div class="top-menus">
                    <ul class="menu">
                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none; color: #333;">
                            <li class="dashboard">Dashboard</li>
                        </a>

                        <a href="#" style="text-decoration: none; color: #333;">
                            <li class="profile">Project Board</li>
                        </a>
                        <a href="http://localhost/public/projectleader/forum" style="text-decoration: none; color: #333;">
                            <li class="forum">Project Forum</li>
                        </a>

                        <a href="http://localhost/public/project/leader/conference/scheduler" style="text-decoration: none; color: #333;">
                            <li class="conference">Conferences</li>
                        </a>
                        <a href="http://localhost/public/projectleader/getinfo"
                            style="text-decoration: none; color: #333;">
                            <li class="project-info active">Project Info</li>
                        </a>
                        <a href="http://localhost/public/project/leader/report" style="text-decoration: none;  color: #333;">
                            <li class="Report">Generate project Report</li>
                        </a>
                    </ul>
                    <ul class="menu-icon">
                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none; color: #333;">
                            <li class="dashboard"><i class="fa fa-address-book" aria-hidden="true"></i></li>
                        </a>

                        <a href="#" style="text-decoration: none; color: #333;">
                            <li class="profile"><i class="fa-solid fa-rectangle-list"></i></li>
                        </a>

                        <a href="http://localhost/public/projectleader/forum" style="text-decoration: none; color: #333;">
                            <li class="forum"><i class="fa fa-forumbee"></i></li>
                        </a>

                        <a href="http://localhost/public/project/leader/conference/scheduler" style="text-decoration: none; color: #333;">
                            <li class="conference"><i class="fa fa-camera"></i></li>
                        </a>
                        <a href="http://localhost/public/projectleader/getinfo"
                            style="text-decoration: none; color: #333;">
                            <li class="project-info active"><i class="fa-solid fa-circle-info"></i></li>
                        </a>

                        <a href="http://localhost/public/project/leader/report" style="text-decoration: none;  color: #333;">
                            <li class="Report"><i class="fa-solid fa-file-contract"></i></li>
                        </a>

                        <a href="#" style="text-decoration: none; color: #333; display: none;">
                            <li class="sketch-idea"><i class="fa fa-paint-brush" aria-hidden="true"></i></li> <!--added for fix getting error -->
                        </a>

                        <li id="archived-projects" style="display: none;"></li><!--added for fix getting error -->
                        <li class="calender"><i class="fa fa-calendar" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="middle-icon" style="margin-top: 16px;">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </div>
                <div class="middle-icon2" style="margin-top: -107px;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>

                <div class="bottom-calender" style="margin-top: 56px;">
                    <div class="top-month">
                        <button type="submit" class="previous-month-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                        <p><span class="month"></span> <span class="year"></span></p>
                        <button type="submit" class="next-month-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="day-names">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    <div class="days">
                        
                    </div>
                </div>
                <div class="deadline-popup">
                    <h3>Events</h3>
                    <hr>
                    <div class="events">
                        <p>Build meeting API</p>
                        <p>Design UI</p>
                    </div>
                </div>
            </div>
            <div class="right-panel">

                <div class="project-info">
                    <div class="project-details">
                        <div class="project-info-top">
                            <h2>Medicare App Development</h2>
                            <p id="invite-member-btn"><i class="fa fa-user-plus" aria-hidden="true"></i> Invite member</p>
                        </div>
                        <p >mHealth apps  between providers and patients. Patients can access and monitor their medical records/prescription details from the convenience of their own homes without visiting hospitals.
                        <br> convenience of their own homes without visiting hospitals.</p>
    
                        <div class="progress-bar">
                            <p id="start-date">25-10-22</p>
                            <div class="bar">
                                <!-- <div class="progress" id="progressId"></div> -->
                            </div>
                            <p id="end-date">10-02-2023</p>
                        </div>
                    </div>

                    <div class="feedbacks-and-groups">
                        <div class="feedbacks">
                            <div class="feedbacks-headers">
                                <h3 id="project-announcements">Project Announcements</h3>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                <h3 id="client-feedback">Client Feedback</h3>
                            </div>
                            
                            <div class="project-announcement-area">
                                <div class="feedback-form">
                                
                                    <div class="announcement">
                                        <img src="" alt="">
                                        <div class="announcement-details">
                                            <div class="announcement-detail-heading">
                                                <p class="announcement-heading-line"></p>
                                                <p class="announcement-sent-time"></p>
                                            </div>
                                            <p class="announcement-detail-message"></p>
                                        </div>
                                    </div>
    
                                </div>
                                <form class="project-announcements-form" method="post">
                                    <label id="announcementHeading" for="announcementHeading">Announcement Heading</label>
                                    <label id="announcement-down"><i class="fa fa-chevron-down" aria-hidden="true"></i></label>
                                    <br>
                                    <input required id="announcement-heading" type="text" name="announcementHeading" placeholder=" Enter announcement heading ...">
                                    <br>
                                    <label for="announcementMessage">Announcement Message</label>
                                    <br>
                                    <input required id="announcement-message" type="text" name="announcementMessage" placeholder=" Enter announcement message ...">
    
                                    <button id="feedback-message-btn" type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                </form>
                                <p id="show-send-announcement-form" class="show-send-announcement-form"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; add announcement</p>
      
                            </div>

                            <div class="client-feedback-area">
                                <div id="feedback-message-container" class="project-feedback-messages">

                                   <!-- Feedback message goes here -->

                                </div>

                                <form id="client-feedback-form">
                                    <label for="feedbackMessage"></label>
                                    <input type="text" id="feedbackMessage" name="feedbackMessage" placeholder=" Type something...">
                                    <button type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                                </form>
                            </div>
                                                  
                        </div>
                        <div class="group-list">
                            <div class="top-group-list">
                                <h3>Groups</h3>
                                <p id="create-group-btn"><i class="fa fa-plus-circle" aria-hidden="true"></i></p>
                            </div>
                            
                            <div class="groups">
                                <a href="#"><p class="group"></p></a>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="member-list">
                    <div id="leaders-list-container-div" class="project-members">
                        <h3>Project Leader</h3>
                        <!-- add the leaders here -->
                    </div>

                    <div id="client-list-container-div" class="project-members">
                        <h3>Clients</h3>
                        <!-- add the members here -->
                    </div>

                    <div id="members-list-container-div" class="project-members">
                        <h3>Project Members</h3>
                        <!-- add the members here -->
                    </div>
                </div>
                

                    
                </div>
            </div>
            <div class="confirm-archive-popup">
                <p class="confirm-msg">Are you sure to archive this project ?</p>

                <div class="confirm-btns">
                    <p class="archive-btn">Archive</p>
                    <p class="cancel-btn">Cancel</p>
                </div>
            </div>
            <!-- <div class="confirm-remove-member-popup">
                <p class="confirm-msg">Are you sure to archive this project ?</p>

                <div class="confirm-btns">
                    <p class="archive-btn">Archive</p>
                    <p class="cancel-btn">Cancel</p>
                </div>
            </div> -->
        </div>
        <div class="notification-popup-container">
            <div class="notification-popup">
                <div class="notification-popup-top">
                    <h3>Notifications</h3>
                    <i class="fa fa-times notification-popup-close-btn" aria-hidden="true"></i>
                </div>
                <div class="notifications">
                    
                </div>
            </div>
        </div>
        <div class="create-project-container">
            <div class="create-project-popup">
                <div class="create-project-top">
                    <div class="create-project-header">
                        <h3>Let's create a workspace.</h3>
                        <p>Make it simpler for everyone to access boards in one place to increase productivity.</p>
                    </div>
                    <i class="fa fa-times create-project-popup-close" aria-hidden="true"></i>
                </div>
                <div class="create-project-details">
                    <div class="create-project-form">
                        <form action="#" method="post">
                            <label for="projectName">Project Name</label>
                            <br>
                            <input type="text" name="projectName" placeholder="Enter project name ...">
                            <br>
                            <p>Your business, group, or organization's name is here.</p>
    
                            <label for="projectType">Project Type</label>
                            <br>
                            <input type="text" name="projectType" placeholder="Enter project type ...">
    
                            <br>
                            <label for="projectDescription">Project Description</label>
                            <br>
                            <input type="text" id="projectDescription" name="projectDescription" placeholder="Please enter something on your project ... ">
    
                            <br>
                            <button type="submit">CREATE</button>
                        </form>
                    </div>
                    <img src="/View/images/project_create.png" alt="project_create">
                </div>
            </div>
        </div>

        <div class="create-group-container">
            <h3>Create Group</h3>
            <form action="http://localhost/public/projectleader/group" method="post">
                <label for="group_name">Group name</label>
                <br>
                <input type="text" name="group_name" id="group_name" placeholder="Enter group name" required>

                <br>
                <label for="task_name">Task name</label>
                <br>
                <input type="text" name="task_name" id="task_name" placeholder="Enter task name" required>

                <br>
                <label for="assignMember">Assigned member</label>
                <br>
                <input type="text" name="assignMember" id="assignMember" placeholder="Enter member username">
                <br>
                <label for="deadline">Deadline</label>
                <br>
                <input type="date" name="deadline" id="deadline" class="min-date">
                <br>
                <label for="group-description">Group Description</label>
                <br>
                <input type="text" id="group-description" name="group_description" required placeholder="Enter group description">
                <br>
                <div class="buttons">
                    <p id="cancel-create-group">Cancel</p>
                    <button type="submit">Create</button>
                </div>
            </form>
            
        </div>

        <div class="invite-popup">
            <h3>Invite member</h3>
            <label for="username">Username</label>
            <br>
            <input type="text" name="username" placeholder="Enter username">
            <div class="buttons">
                <button type="submit" id="inviteBtn">Send</button>
                <button type="submit" id="closeBtn">Close</button>
            </div>
        </div>

        
    </div>
    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>

    <script src="/View/js/project_leader/getProjectInfo.js"></script>
    <script src="/View/js/user/logout.js"></script>
    <script src="/View/js/user/progress_bar.js"></script>
    <script src="/View/js/user/member_attachments.js"></script>
    <script src="/View/js/project_leader/project_feedback.js"></script>
    <script src="/View/js/user/calendar.js"></script>
    <script src="/View/js/user/createProject.js"></script>
    <script src="https://kit.fontawesome.com/0ecc390bb7.js" crossorigin="anonymous"></script>
    <script src="/View/js/user/sidebar.js"></script>
    <script src="/View/js/user/notification.js"></script>
    <script src="/View/js/user/minDate.js"></script>
</body>
</html>

