<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Dashboard</title>
    <link rel="stylesheet" href="/View/styles/client/project_info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">

        <div class="navbar">
            <div class="left-logo-area">
                <a href="http://localhost/public/user/dashboard" style="text-decoration: none;">
                    <img src="/View/images/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="right-profile-area">
                <i class="fa fa-bell-o  notification-bell-btn" aria-hidden="true"></i>
                <i class="fa fa-sign-out" id="log-out-btn" aria-hidden="true"></i>
                <a href="http://localhost/public/user/profile"><img id="profile-picture-img" alt="/App" class="profile-image"></a>
            </div>
        </div>

        <div class="projects-container">
            <div class="left-panel">
                <div class="top-menus">
                    <ul class="menu">
                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none;  color: #333;">
                            <li class="dashboard">Dashboard</li>
                        </a>
                        <a href="http://localhost/public/user/profile" style="text-decoration: none;  color: #333;">
                            <li class="profile">Profile</li>
                        </a>
                        <a href="http://localhost/public/project/client/conference/scheduler" style="text-decoration: none;  color: #333;">
                            <li class="dashboard">Conference</li>
                        </a>
                        <li class="sketch-idea" style="display: none;">Sketch idea</li>

                        <a href="#" style="text-decoration: none; color: #333; display: none;">
                            <li class="project-board">Project board</li>
                        </a>
                        
                    </ul>
                    <ul class="menu-icon">
                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none; color: #333;">
                            <li class="dashboard"><i class="fa fa-address-book" aria-hidden="true"></i></li>
                        </a>

                        <a style="text-decoration: none; color: black;" href="http://localhost/public/user/profile">
                           <li class="profile"><i class="fa fa-user" aria-hidden="true"></i></li>
                        </a>

                        <a style="text-decoration: none; color: black; display: none;" href="#">
                            <li class="settings"><i class="fa fa-forumbee"></i></li>
                        </a>

                        <a href="#" style="text-decoration: none;  color: #333; display: none;">
                            <li class="project-board"><i class="fa-solid fa-file"></i></i></li>
                        </a>
                            
                        <li class="calender"><i class="fa fa-calendar" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="middle-icon" style="margin-top: 91px;">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </div>
                <div class="middle-icon2" style="margin-top: -8px;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>

                <div class="bottom-calender" style="margin-top: 58px;">
                    <div class="top-month">
                        <button type="submit" class="previous-month-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                        <p><span class="month"></span> <span class="year"></span></p>
                        <button type="submit" class="next-month-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="day-names">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    <div class="days">
                        
                    </div>
                </div>
                <div class="deadline-popup">
                    <h3>Events</h3>
                    <hr>
                    <div class="events">
                        <p>Build meeting API</p>
                        <p>Design UI</p>
                    </div>
                </div>
            </div>
            <div class="right-panel">

                <div class="project-info">
                    <div class="project-details">
                        <div class="project-info-top">
                            <h2 id="project-name-heading"></h2>

                            <p id="invite-member-btn"><i class="fa fa-user-plus" aria-hidden="true"></i> Generate project report</p>

                        </div>

                        <p id="project-description-paragraph"></p>

                        <div class="progress-bar">
                            <p id="start-date"></p>
                            <div class="bar">
                                <div class="progress"></div>
                            </div>
                            <p id="end-date"></p>
                        </div>
                    </div>


                    <!-- <div class="messaging-area">
                    <h3>Message Forum</h3>
                    <div class="chatting-area" id="messages-container-div">
                        &lt;!&ndash; add the messages here &ndash;&gt;
                    </div>
                    <div class="send-area">
                        <form id="message-input-form">
                            <label for="message-input">
                                <input type="text" id="message-input" name="message" placeholder="Type your message..." required>
                            </label>
                            <button type="submit" style="outline: inherit; background: none; border: none; border-left: thick solid grey; padding: 10px; cursor: pointer">
                                <i class="fa fa-caret-right" aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>-->

                    <div class="feedbacks-and-groups">
                        <div class="feedbacks">
                            <h3>Feedback Form</h3>
                            <div id = "feedback-message-container" class="feedback-form">
                                <!--<p class="outgoing-feedback">How is Going</p>-->
                                <!--                            <p class="outgoing-feedback">Yes, you have written the first thing first, but after that it becomes muddled. Your next step is to go back to your plan and check your numbering of the order of the events as they happened.</p>-->

                                <!--                            <p class="incoming-feedback">Yes, you have written the first thing first, but after that it becomes muddled. Your next step is to go back to your plan and check your numbering of the order of the events as they happened.</p>-->
                            </div>
                            <form id="feedback-message-input-form">
                                <label for="feedback"></label>
                                <input type="text" name="feedback" id="feedback" placeholder="Type feedback ...">
                                <button type="submit"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="member-list">
                    <div id="leaders-list-container-div" class="project-members">
                        <h3>Project Leader</h3>
                        <!-- add the leaders here -->
                    </div>

                    <div id="client-list-container-div" class="project-members">
                        <h3>Clients</h3>
                        <!-- add the members here -->
                    </div>

                    <div id="members-list-container-div" class="project-members">
                        <h3>Project Members</h3>
                        <!-- add the members here -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="notification-popup-container">
        <div class="notification-popup" style="margin-top: 100px;">
            <div class="notification-popup-top">
                <h3>Notifications</h3>
                <i class="fa fa-times notification-popup-close-btn" aria-hidden="true"></i>
            </div>
            <div class="notifications">

            </div>
        </div>
    </div>

    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>

    <!--<script src="/View/js/project_leader/getProjectInfo.js"></script>-->
    <!--<script src="/View/js/client/project_feedback.js"></script>-->

    <script src="/View/js/client/dashboard.js"></script>
    <script src="/View/js/user/logout.js"></script>
    <script src="/View/js/user/member_attachments.js"></script>
    <script src="/View/js/user/calendar.js"></script>
    <script src="/View/js/user/progress_bar.js"></script>
    <script src="/View/js/user/sidebar.js"></script>
    <script src="/View/js/user/notification.js"></script>
    <script src="/View/js/user/notificationPopup.js"></script>
    <script src="https://kit.fontawesome.com/0ecc390bb7.js" crossorigin="anonymous"></script>

</body>

</html>