/* NAVBAR STYLING STARTS */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

.nav-links a:hover {
    text-decoration: none;
}


/* LOGO */

.logo {
    font-size: 32px;
}


/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu ul {
    list-style-type: none;
}

.menu li:hover {
    background-color: #c82a2a;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.header h1 {
    text-align: center;
    color: #333;
}

.chat-window {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.conversation {
    height: 400px;
    overflow-y: scroll;
    padding: 20px;
}

.message-input {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.message-input input[type="text"] {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
}

.send-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #2980b9;
}