* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

.container {
    width: 98%;
    margin-top: 10px;
}

.container .navbar {
    position: fixed;
    width: 98%;
    height: 60px;
    background-color: #F83B3B;
    border: none;
    outline: none;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}

.navbar .left-logo-area {
    flex: 1;
}

.navbar .logo {
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: auto;
    cursor: pointer;
}

.container .right-profile-area {
    /* border: 1px solid #fff; */
    display: flex;
}

.right-profile-area img {
    width: 50px;
    height: 50px;
    margin: 5px 25px 0 0;
    cursor: pointer;
}

.right-profile-area i {
    color: #f7f7f7;
    font-size: 20px;
    margin: 20px 15px 20px 5px;
    cursor: pointer;
}

.right-profile-area i:hover {
    font-weight: 600;
    color: #514848;
}

.right-profile-area button {
    background-color: #fff;
    font-size: 13px;
    /* font-weight: 545; */
    border-radius: 10px;
    border: none;
    outline: none;
    color: #514848;
    margin: 15px 10px 0 0;
    height: 30px;
    width: 120px;
    cursor: pointer;
}

.right-profile-area button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.projects-container {
    margin-top: 5px;
    display: flex;
}

.left-panel {
    position: fixed;
    margin: 75px 0 0 3px;
    width: 240px;
    height: 630px;
    border-radius: 12px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.left-panel .top-menus {
    margin: 0px;
    padding: 2px 15px 15px 15px;
}

.top-menus ul {
    list-style: none;
}

.top-menus ul li {
    background-color: #f7f7f7;
    margin: 8px 3px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    padding-top: 6px;
    font-size: 15px;
    cursor: pointer;
}

.top-menus ul li:hover {
    background-color: #dbd7d7;
}

.top-menus ul li.active {
    background-color: #F83B3B;
    color: #fff;
}

.left-panel .middle-icon {
    width: 15px;
    height: 36px;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 0 auto;
    /*60*/
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}

.bottom-calender {
    margin-top: 125px;
    height: 250px;
}

.bottom-calender .top-month {
    display: flex;
    height: 30px;
    justify-content: space-around;
}

.top-month p {
    padding-top: 5px;
    font-weight: 550;
    color: #F83B3B;
}

.top-month button {
    padding-top: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #514848;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
}

.bottom-calender .day-names {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 5px;
    margin-top: 5px;
}

.day-names p {
    width: 25px;
    font-size: 11px;
    text-align: center;
    color: #555;
}

.bottom-calender .days {
    margin-top: 15px;
}

.days .days-line {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-bottom: 7px;
    padding: 0 5px;
}

.days-line p {
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: small;
    background-color: #f7f7f7;
    color: #333;
}

.days-line .day.today {
    background-color: #F83B3B;
    color: #fff;
}

.days-line .day.deadline {
    background-color: #031738;
    color: #fff;
    cursor: pointer;
}

.days-line .inactive {
    color: #dbd7d7;
}

.days-line .today {
    background-color: #0a4fa3;
    color: #fff;
}

.days-line .deadline {
    background-color: #F83B3B;
    color: #fff;
    cursor: pointer;
}

.right-panel {
    position: fixed;
    margin: 60px 0 0 250px;
    height: 100%;
    width: 81vw;
    display: flex;
}

.right-panel .messaging-area {
    width: 930px;
    height: 592px;
    margin: 10px 15px 0 5px;
    background-color: #fff;
    border-radius: 12px;
}

.messaging-area h3 {
    font-size: 25px;
    color: #222;
    margin: 10px 20px;
}

.messaging-area .send-area {
    border: 1px solid #d8d8d8;
    height: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    padding-right: 10px;
}

.send-area input {
    width: 850px;
    height: 40px;
    outline: none;
    border: none;
    background: transparent; 
}
.send-area button{
    margin-right: 10px;
    border: none;
    background-color: transparent;
}

.send-area button i{
    color: #20B289;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out; /* add transition property for smooth animation */
}

.send-area button:hover i{
    transform: scale(1.3); /* scale up the icon to 1.2 times its original size on hover */
    cursor: pointer;
}

.chatting-area {
    overflow-y: scroll;
}

.messaging-area .chatting-area {
    height: 550px;
    padding: 15px 25px;
    border-top: 1px solid #d7d7d7;
    display: flex;
    flex-direction: column-reverse;
}

.outgoing-message{
    display: flex;
    width: fit-content;
    max-width: 500px;
    margin-left: auto;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    background-color: #b9dccb;
    padding: 10px;
    margin-bottom:10px;
}

.outgoing-message .outgoing-messages{
    margin: 0px;
    height: fit-content;
    max-width: 360px;
    width: fit-content;
}

.outgoing-messages, .outgoing-date-time{
    margin: 0px;
    height: fit-content;
    width: fit-content;
    margin: auto 0 0 20px;
    font-size: 11px;
    color: #333;
}

.incomming-message{
    /* border: 1px solid black; */
    display: flex;
    width: fit-content;
    max-width: 500px;
    margin-bottom: 10px;
}
.incomming-message img{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-top: auto;
}
.incomming-message .incomming-new-message{
    display: flex;
    margin-left: 5px;
    /* border: 1px solid black; */
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    background-color: #f0f0fb;
    padding: 12px 10px;
}
.incomming-new-message .incomming-messages{
    margin: 0px;
    height: fit-content;
    max-width: 360px;
    width: fit-content;
}
.incomming-new-message .incomming-time, .incomming-new-message .incomming-messages{
    margin: 0px;
    height: fit-content;
    width: fit-content;
    margin: auto 0 0 20px;
    font-size: 11px;
    color: #333;
}
.member-list {
    border-radius: 10px;
    width: 260px;
    height: 640px;
    margin-top: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #fff;
}

.member-list h3 {
    font-size: 16px;
    color: #333;
    margin: 8px 0 5px 12%;
}

.member-list .group-leaders {
    height: 185px;
    overflow-y: scroll;
}

.member-list .project-members {
    /* border: 1px solid black; */
    height: 100px;
    overflow-y: scroll;
}

#members-list-container-div{
    height: 520px;
}
#members-list-container-div h3{
    position: sticky; /* fix the h3 element */
    top: 0; /* stick it to the top */
    background-color: #fff; /* add a background color to make it stand out */
    z-index: 1; /* set a higher z-index to ensure it's above the scrollable content */
}
.member-list .member-card {
    display: flex;
    width: 80%;
    height: 50px;
    margin: 10px 10%;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.member-card .profile-image {
    display: flex;
    width: 55px;
    border-radius: 50%;
}

.profile-image img {
    width: 40px;
    height: 40px;
    margin: 5px 5px 5px 10px;
    border-radius: 50%;
}

.profile-image i {
    color: #20B289;
    font-size: 10px;
    margin: 33px 0 0 -45px;
}

.member-card .member-info {
    margin-top: 12px;
    height: fit-content;
}
.member-info h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px; /* adjust as needed */
    /* background-color: aqua; */
}
.member-info h6 {
    font-size: 13px;
}

.member-info p {
    font-size: 11px;
    color: #555;
}
/* hide the trash icon */
.delete-icon{
    display:none;
}

.create-group-container {
    margin: 160px 0 0 0;
    position: relative;
    width: 420px;
    height: 320px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: all 2s ease;
    display: none;
}

.create-group-container.active {
    display: block;
}

.create-group-container h3 {
    font-size: 22px;
    color: #031738;
    margin: 10px 0 10px 30px;
}

.create-group-container form {
    margin-top: 10px;
    /* border: 1px solid black; */
    margin-left: 15px;
}

.create-group-container form label {
    font-size: 13px;
    font-weight: 550;
    color: #222;
    margin-bottom: 3px;
}

.create-group-container form input {
    height: 24px;
    width: 220px;
    margin: 3px 0 3px 5px;
    border: 1px solid #555;
    border-radius: 5px;
    padding-left: 5px;
}

#group-description {
    width: 300px;
    height: 80px;
}

.create-group-container .buttons {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    height: 35px;
    width: 180px;
    margin-top: 10px;
    margin-left: 175px;
}

.buttons p {
    width: 80px;
    background-color: #f1f1f1;
    border: none;
    text-align: center;
    padding-top: 8px;
    border-radius: 8px;
    font-weight: 550;
    color: #333;
    cursor: pointer;
}

.buttons button {
    width: 80px;
    background-color: #20B289;
    border-radius: 8px;
    font-weight: 550;
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.invite-popup {
    position: relative;
    display: none;
    width: 270px;
    height: 140px;
    margin: 125px 0 0 520px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 2s ease;
}

.invite-popup.active {
    display: block;
}

.invite-popup h3 {
    color: #031738;
    margin: 0 0 10px 10px;
}

.invite-popup label {
    margin-left: 5px;
    font-size: 13px;
}

.invite-popup input {
    margin-left: 10px;
    height: 28px;
    width: 200px;
    margin-top: 5px;
    padding-left: 6px;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
}

.invite-popup .buttons {
    /* border:  1px solid black; */
    margin: 10px 0 0 110px;
    height: 30px;
    width: 180px;
}

#inviteBtn {
    font-weight: 400;
    height: 25px;
    width: 60px;
    margin-right: 5px;
}

#closeBtn {
    font-weight: 400;
    width: 60px;
    height: 25px;
    background-color: #F83B3B;
}

.search-bar {
    /* position: fixed; */
    height: 60x;
    display: flex;
}

.search-box {
    margin: 15px 0px 0 0;
    width: 79vw;
    position: absolute;
    display: flex;
}

.search-box input {
    margin-left: 20%;
    width: 50%;
    height: 34px;
    border-radius: 8px;
    border: 1px solid #999;
    padding-left: 1%;
}

.search-box i {
    border: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c5757;
    cursor: pointer;
}

.projects {
    width: 99%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
    background-color: #f7f7f7;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 300px);
    padding-left: 20px;
    padding-bottom: 200px;
}

.clickable-project {
    text-decoration: none;
}

.project-card {
    width: 240px;
    height: 260px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    padding: 20px;
}

.project-card .project-field {
    width: 120px;
    height: 22px;
    margin-left: 10px;
    font-size: 10.5px;
    background-color: #F83B3B;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
}

.project-field.active {
    background-color: #20B289;
}

.project-card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #2F2E41;
}

.project-card .tasks {
    width: 180px;
    height: 90px;
}

.project-card p {
    color: #333;
}

.tasks p {
    font-size: 14px;
    margin: 8px 0 0 12px;
    color: #555;
    font-weight: 550;
}

.tasks ul {
    list-style: none;
    margin: 6px 0 0 22px;
}

.tasks ul li {
    font-size: 12px;
    color: #222;
}

.project-card .team {
    font-size: 12px;
    font-weight: 550;
}

.project-card .card-bottom {
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-top: 6px;
}

.card-bottom .progress {
    width: 60px;
    height: 60px;
    margin-top: -20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.progress .outer {
    /* position: relative; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    padding: 8px;
    background-color: conic-gradient(#283A5A 3.6deg, #fff, 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer::before {
    content: "";
    background-color: #fff;
    position: absolute;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.outer.inner {
    /* position: fixed; */
    width: 46px;
    height: 46px;
    background-color: #fff;
    border: 1px solid black;
    /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
    border-radius: 50%;
}

.inner p {
    position: relative;
    font-size: 14px;
    font-weight: 550;
    color: #333;
}

.card-bottom .member-images {
    display: flex;
    width: 120px;
    overflow-x: hidden;
}

.member-images .image {
    width: 32px;
    height: 32px;
}

.image.first {
    position: absolute;
}

.image.rest1 {
    margin-left: 15px;
    position: absolute;
}

.image.rest2 {
    margin-left: 30px;
    position: absolute;
}

.image.rest3 {
    margin-left: 45px;
    position: absolute;
}

.image.rest4 {
    margin-left: 60px;
    position: absolute;
}

.card-bottom button {
    width: 80px;
    height: 32px;
    border-radius: 10px;
    background-color: #20B289;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}

div::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
}


/* toast-notification */

.toast-notification {
    position: relative;
    border: none;
    width: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 60px;
    margin: 10px 10px 10px auto;
    display: flex;
    border-radius: 10px;
    background-color: #e5e5e5;
    transition: all 1.5s ease;
}

.toast-notification.active {
    border: 1px solid rgb(187, 183, 183);
    width: 250px;
}

.toast-notification .sender-img img {
    width: 50px;
    margin: 5px;
    cursor: pointer;
}

.toast-notification .details .notification-top {
    width: 185px;
    height: 18px;
    display: flex;
    justify-content: space-between;
}

.notification-top h3 {
    font-size: 12px;
    color: #031738;
    margin: 3px 0 0 4px;
}

.notification-top button {
    margin: 3px 6px 0 0;
    cursor: pointer;
    border: none;
    outline: none;
    color: #777;
    background: none;
}

.details .notification-msg {
    /* border: 1px solid purple; */
    width: 160px;
    height: 26px;
    padding-left: 10px;
    overflow-y: hidden;
    margin-left: 2px;
    font-size: 11px;
    color: rgb(56, 55, 55);
}

.details .notification-bottom {
    /* border: 1px solid brown; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-bottom p {
    font-size: 8px;
    /* border: 1px solid green; */
}

.notification-bottom .notification-project-name {
    margin: 0 10px 0 0;
    height: 14px;
    width: 85px;
    font-size: 10px;
    align-items: center;
    color: #031738;
}


/* notification-popup */

.notification-popup-container {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    transition: all 2s ease;
    margin-top: 660px;
}

.notification-popup-container.active {
    display: block;
}

.notification-popup {
    width: 310px;
    max-height: 500px;
    overflow-y: scroll;
    position: fixed;
    background-color: #fff;
    margin: 65px 10px 0 1020px;
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.notification-popup .notification-popup-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.notification-popup-top h3 {
    color: #333;
}

.notification-popup-top i {
    cursor: pointer;
    color: #333;
}

.notification-popup .notification {
    margin: 5px;
    height: 80px;
}

.notification-popup .request-notification {
    margin: 5px;
    height: 140px;
}

.request-notification .notification-details {
    display: flex;
}

.notification .notification-details {
    display: flex;
}

.notification-details img {
    width: 60px;
    height: 60px;
    /* justify-self: center; */
    /* align-self: center; */
    margin-top: 10px;
    border: none;
    border-radius: 50%;
}

.notification-details .content {
    padding-top: 6px;
}

.content .request-content {
    margin: 0 10px;
}

.request-content h5 {
    margin: 2px 0 5px 15px;
}

.request-content p {
    font-size: 11px;
    color: #333;
    height: 27px;
}

.request-content .responses {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 180px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.responses button {
    width: 80px;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* font-weight: 550; */
}

#rejectInviteBtn {
    background-color: #F83B3B;
}

#acceptInviteBtn {
    background-color: #2F984A;
}

.content .sender-and-project {
    display: flex;
    height: 25px;
}

.sender-and-project h4 {
    text-align: left;
    margin-left: 10px;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    font-size: 14px;
    flex: 5;
}

.sender-and-project p {
    display: flex;
    /* align-items: center; */
    font-size: 11px;
    flex: 3;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content .notification-content {
    font-size: 11px;
    padding: 4px 8px 0 12px;
    height: 30px;
    overflow-y: hidden;
    color: #555;
}

.content .date-and-project {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    margin-top: 2px;
}

.date-and-project .notification-project {
    width: 90px;
    height: 13px;
    margin-right: 10px;
    font-weight: 550;
    color: #444;
    overflow-y: hidden;
}
.right-panel .messaging-area {
    transition: width 1s ease-out;
}

@media (max-width: 1250px) {
    .right-panel .messaging-area {
        width: 730px;
    }
}

@media (max-width: 1100px) {
    .right-panel .messaging-area {
        width: 530px;
    }
}

@media (max-width: 890px) {
    .right-panel .messaging-area {
        width: 330px;
    }
}

@media (max-width: 530px) {
    .member-list {
        display: none;
    }
}