/* // search result */

.search-results{
    position: absolute;
    width: 350px;
    border: none;
    max-height: 580px;
    margin: 115px 0 0 563px;
    border-radius: 10px;
    background-color: #c2bebe;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    transition: all 1s ease;
    overflow-y: scroll;
    z-index: 1;
}
.search-results.active{
    padding: 20px 10px 10px 10px;
    height: fit-content;
}


/* task */
.task{
    height: 100px;
    margin: 0 5px 15px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: #F7F7F7;
    cursor: pointer;
    width: 250px;
}