<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task board</title>
    <link rel="stylesheet" href="/View/styles/member_dashboard_style.css">
    <link rel="stylesheet" href="/View/styles/user/calendar.css">
    <link rel="stylesheet" href="/View/styles/project_member/todoTaskPopup.css">
    <link rel="stylesheet" href="/View/styles/project_member/ongoingTaskPopup.css">
    <link rel="stylesheet" href="/View/styles/project_member/reviewTaskPopup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container">

        <div class="navbar">
            <div class="left-logo-area">
                <a href="http://localhost/public/user/dashboard" style="text-decoration: none;">
                    <img src="/View/images/logo.png" alt="logo" class="logo">
                </a>
            </div>
            <div class="right-profile-area">
                <button type="submit" class="navbar-new-project">+ New Project</button>
                <i class="fa fa-bell-o  notification-bell-btn" aria-hidden="true"></i>
                <i class="fa fa-sign-out" id="log-out-btn" aria-hidden="true"></i>
                <img src="/View/images/dp.png" alt="profile picture" class="profile-image">
            </div>
        </div>

        <div class="task-boards-container">

            <div class="left-panel">
                <div class="top-menus">
                    <ul>
                        
                        <a style="text-decoration: none; color: black;" href="http://localhost/public/user/dashboard" style="text-align: none;">
                            <li class="dashboard active">Dashboard</li>
                        </a>
                        <li class="new-project">New project</li>
                        <a style="text-decoration: none; color: black;" href="http://localhost/public/user/profile">
                            <li class="profile">Profile</li>
                        </a>
                        <a style="text-decoration: none; color: black;" href="http://localhost/public/projectmember/forum">
                            <li class="sketch-idea">Forum</li>
                        </a>
                        <a style="text-decoration: none; color: black;" href="http://localhost/public/user/sketch">
                            <li class="sketch-idea">Sketch idea</li>
                        </a>
                    </ul>
                </div>
                <div class="middle-icon">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </div>

                <div class="bottom-calender">
                    <div class="top-month">
                        <button type="submit" class="previous-month-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                        <p><span class="month"></span> <span class="year"></span></p>
                        <button type="submit" class="next-month-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="day-names">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    <div class="days">
                        
                    </div>
                </div>
                <div class="deadline-popup">
                    <h3>Events</h3>
                    <hr>
                    <div class="events">
                        <p>Build meeting API</p>
                        <p>Design UI</p>
                    </div>
                </div>
            </div>

            <div class="right-panel">
                <div class="search-bar">

                    <div class="search-box">
                        <input type="text" placeholder="Search your project tasks ...">
                        <!-- <i class="fa fa-filter" aria-hidden="true"></i> -->
                    </div>
                    <a href="http://localhost/public/projectmember/getinfo"><p class="project-name">Mentcare Web App</p></a>
                </div>

                <div class="TO-DO-task-details">

                    <div class="todo-top-bar">
                        <h3></h3>
                        <p class=""></p>
                    </div>
                    <p class="todo-task-details-description"></p>
                    <p class="todo-task-details-deadline"></p>

                    <div class="todo-task-feedbacks">
                        <div class="todo-task-feedback-area"></div>
                        <form action="#" method="post">
                            <label for="feedbackMessage"></label>
                            <input type="text" name="feedbackMessage" placeholder="Send something ..." disabled>
                            <button disabled type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        </form>
                    </div>

                    <div class="buttons">
                        <p id="cancel-todo-task-details">Cancel</p>
                        <p id="pickup-task-btn">PickUp</p>
                    </div>

                </div>

                <div class="Ongoing-task-details">
                    <div class="ongoing-top-bar">
                        <h3></h3>
                        <p class=""></p>
                    </div>
                    <p class="ongoing-task-details-description"></p>
                    <p class="ongoing-task-details-deadline"></p>

                    <div class="ongoing-task-feedbacks">
                        <div id="ongoing-task-feedback-messages" class="ongoing-task-feedback-messages">
                            <div class="ongoing-incomming-feedback">
                                <div class="ongoing-incomming-feedback-sender">
                                    <img src="" alt="">
                                </div>
                                <div class="ongoing-incomming-feedback-message">
                                    <p class="ongoing-incomming-feedbacks"></p>
                                    <p class="ongoing-incomming-time"></p>
                                </div>
                            </div>

                            <div class="ongoing-outgoing-feedback">
                                <div class="ongoing-outgoing-feedback-message">
                                    <p class="ongoing-outgoing-feedbacks"></p>
                                    <p class="ongoing-outgoing-time"></p>
                                </div>
                            </div>

                        </div>

                        <form id="ongoing-task-feedback-form" method="post">
                            <label for="feedbackMessage"></label>
                            <input id="ongoing-task-feedback-form-input" type="text" name="feedbackMessage" placeholder=" Send task feedback ...">
                            <button id="ongoing-feedback-message-btn" type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        </form>
                        
                    </div>
                    <div class="buttons">
                        <p id="cancel-ongoing-task-details">Cancel</p>
                        <p id="finishTaskBtn">Finish</p>
                    </div>
                </div>

                <div class="Review-task-details">
                    <div class="review-top-bar">
                        <h3></h3>
                        <p class=""></p>
                    </div>
                    <p class="review-task-details-description"></p>
                    <p class="review-task-details-deadline"></p>

                    <div class="review-task-feedbacks">
                        <div class="review-task-feedback-messages">
                            <div class="review-incomming-feedback">
                                <div class="review-incomming-feedback-sender">
                                    <img src="/View/images/dp.png" alt="">
                                </div>
                                <div class="review-incomming-feedback-message">
                                    <p class="review-incomming-feedbacks"></p>
                                    <p class="review-incomming-time"></p>
                                </div>
                            </div>

                            <div class="review-outgoing-feedback">
                                <div class="review-outgoing-feedback-message">
                                    <p class="review-outgoing-feedbacks"></p>
                                    <p class="review-outgoing-time"></p>
                                </div>
                            </div>
                        </div>
                        <form id="review-task-feedback-form" method="post">
                            <label for="feedbackMessage"></label>
                            <input id="review-task-feedback-form-input" type="text" name="feedbackMessage" placeholder=" Send task feedback ...">
                            <button id="review-feedback-message-btn" type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        </form>
                    </div>
                    <div class="buttons">
                        <p id="completedMessage"></p>
                        <p id="continueBtn" style="margin-left: 100px">Continue</p>
                    </div>
                </div>


                <div class="confirmation-popup">
                    <div class="close-area"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <div class="message-area">
                        <p></p>
                    </div>
                    <div class="input-area">
                        
                        <input id="confirmationMessage" type="text" name="confirmationMessage" placeholder="Type confirmation message...">
                        <label for="confirmationFile"><i class="fa fa-file" aria-hidden="true"></i></label>
                        <input id="confirmationFile" type="file" name="confirmationFile" style="display: none;">
                        <button type="submit"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></button>
                        
                    </div>
                </div>

                <div class="task-boards">
                    <div class="todo board">
                        <h3>TO DO</h3>
                        <div class="tasks"></div>
                    </div>
                    <div class="ongoing board">
                        <h3>ON GOING</h3>
                        <div class="tasks"></div>
                    </div>
                    <div class="review board">
                        <h3>REVIEW</h3>
                        <div class="tasks"></div>
                    </div>
                    <div class="done board">
                        <h3>DONE</h3>
                        <div class="tasks"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/project_member/dashboard.js"></script>
    <script src="/View/js/user/logout.js"></script>
    <script src="/View/js/user/calendar.js"></script>
    <script src="/View/js/user/createProject.js"></script>
    <script src="/View/js/user/sidebar.js"></script>
    <script src="/View/js/user/notification.js"></script>

</body>
</html>