
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marshal</title>
    <!-- <link rel="stylesheet" href="started.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/View/styles/user/landingPage.css">
</head>

<body>
    <nav class="navbar">
      <div class="content">
          <div class="logo"><a href="#">Marshal</a></div>
          <ul class="menu-list">
              <div class="icon cancel-btn">
                  <i class="fas fa-times"></i>
              </div>
              <li><a href="#">Features</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="http://localhost/public/user/login">Sign In</a></li>
              <li><a href="http://localhost/public/user/signup">Get Started</a></li>
          </ul>
          <div class="icon menu-btn">
              <i class="fas fa-bars"></i>
          </div>
      </div>
    </nav>
    <div class="title-and-image">
      <div class="title">
        <h1>Gather your team,<br> projects, and resources in one place.</h1>
        <p>Even if your staff isn't there, keep everything in the same location.</p>
        <a href="http://localhost/public/user/signup">Get Started</a>
      </div>
      <img src="/View/images/userLanding/1.png" alt="">
    </div>

    <div class="about-marshal">
        <div class="what-marshal">
            <h1>What is Marshal ?</h1>
            <p>Your team can manage any kind of project, workflow, or task tracking using Marshal, a visual tool. It is an open-source, highly interactive program.</p>
            <a href="#">Learn More</a>
        </div>

        <div class="with-marshal">
            <h1>With Marshal ?</h1>
            <p>With Marshal, you can manage your project's schedule, work with your virtual team, and plan your complete project from start to finish. </p>
            <a href="#">Learn More</a>
            
        </div>
    </div>

    <hr>
    <div class="feature">
        <div class="description">
            <h1>Features that ensure success for your team</h1>
            <p>With tools for establishing work calendars, gantt charts, staff scheduling, time tracking, reserving equipment and locations, and resource analysis, project management software can assist you with time management (and when).</p>
        </div>
        
    </div>
    <div class="feature">
        <div class="image"><img class="left" src="/View/images/userLanding/2.png" alt=""></div>
        <div class="description">
            <h1>Upload files</h1>
            <p>The ability of the team members and stakeholders to work together and communicate effectively is one of the key aspects that determines whether a project will succeed.The ability of the team members and stakeholders to work together and communicate effectively is one of the key aspects that determines whether a project will succeed.</p>
            <hr>
        </div>
    </div>
    <div class="feature">
        <div class="description">
            <h1>Organize your tasks</h1>
            <p>Team members are enabled to be their most productive selves by effective work management. They won't have to wait for someone else to accomplish a task because they will have enough time to complete all of their tasks. Team members can complete their responsibilities more quickly by utilizing automation.
            </p>
            <hr>
        </div>
        <div class="image"><img class="right" src="/View/images/userLanding/3.png" alt=""></div>
    </div>
    <div class="feature">
        <div class="image"><img class="left" src="/View/images/userLanding/4.png" alt=""></div>
        <div class="description">
            <h1>Schedule meetings</h1>
            <p>Collaboration, leadership, and excellent decision-making are facilitated through project meetings. The easiest method to keep projects on track is to have well-organized meetings at each important stage of the project. Great project managers excel at facilitating productive project meetings.            </p>
            <hr>
        </div>
    </div>
    <div class="feature">
        
        <div class="description">
            <h1>Collaborate through messaging</h1>
            <p>Your project teams and stakeholders will benefit from your use of a project management communication plan. It also controls the sharing and delivery of information to all project participants.
            </p>

        </div>
        <div class="image"><img class="right" src="/View/images/userLanding/5.png" alt=""></div>
    </div>

    <div class="reviews">
        <div class="review-content">
            <div class="review">
                <p>Except, of course, if you have read ALL the small print and are content with the terms and conditions
                </p>
            </div>
            <div class="review">
                <p>The reporting function is fantastic since it enables you to personalize the reporting and export into an excel file that is highly user-friendly.
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <h2>Marshal</h2>
        <hr>
        <div class="below-footer">
            <div class="copyrights">
                <ul>
                    <li>Privacy & Policy</li>
                    <li>Terms</li>
                    <li>Copyrights @ 2022</li>
                </ul>
            </div>
            <div class="media-icons"></div>
        </div>
    </div>

    <script src="/View/js/user/landingPage.js"></script>
  </body>
</html>