/* Style the title of the report */

h1 {
    text-align: left;
    font-size: 3em;
    margin-bottom: 0;
}


/* Style the date of the report */

h3 {
    text-align: right;
    font-size: 1.5em;
    margin-bottom: 0;
}


/* Style the content of the report */

.content {
    margin-top: 50mm;
    font-size: 1.2em;
    line-height: 1.5;
}