<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500</title>
    <style>
    body {
      background-color: #f5f5f5;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    h1 {
      color: #ff0000;
    }

    .container {
      width: 800px;
      margin: 0 auto;
      text-align: left;
    }
  </style>

</head>
<body>
<div class="container">
    <h1>500 Error</h1>
    <p>Sorry, the server encountered an internal error.</p>
    <p>Please try again later or contact the website administrator if the problem persists.</p>
    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
<script src="/View/js/errors/500.js"></script>
</div>
</body>
</html>