*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.container{
    width: 98%;
    margin-top: 10px;
}
.container .navbar{
    position: fixed;
    width: 98%;
    height: 60px;
    background-color: #F83B3B;
    border: none;
    outline: none;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}
.navbar .left-logo-area{
    flex: 1;
}
.navbar .logo{
    width: 60px;
    height: 60px;
    margin-left: 12px;
    margin-right: auto;
    cursor: pointer;
}
.container .right-profile-area{
    /* border: 1px solid #fff; */
    display: flex;
}
.right-profile-area img{
    width: 50px;
    height: 50px;
    margin: 5px 25px 0 0;
    cursor: pointer;
}

.right-profile-area i{
    color: #f7f7f7;
    font-size: 20px;
    margin: 20px 15px 20px 5px;
    cursor: pointer;
}
.right-profile-area i:hover{
    font-weight: 600;
    color: #514848;
}
.right-profile-area button{
    background-color: #fff;
    font-size: 13px;
    /* font-weight: 545; */
    border-radius: 10px;
    border: none;
    outline: none;
    color: #514848;
    margin: 15px 10px 0 0;
    height: 30px;
    width: 120px;
    cursor: pointer;
}
.right-profile-area button:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.task-boards-container{
    margin-top: 5px;
    display: flex;
    /* border: 1px solid black; */
}
.left-panel{
    position: fixed;
    /* border: 1px solid black; */
    margin: 75px 0 0 3px;
    width: 240px;
    height: 630px;
    border-radius: 12px;
    padding: 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.left-panel .top-menus{
    margin: 0px;
    padding: 2px 15px 15px 15px;
}
.top-menus ul{
    list-style: none;
}
.top-menus ul li{
    background-color: #f7f7f7;
    margin: 8px 3px;
    height: 30px;
    border-radius: 8px;
    text-align: center;
    padding-top: 6px;
    font-size: 15px;
    cursor: pointer;
}
.top-menus ul li a{
    text-decoration: none;
    color: #333;
}
.top-menus ul li:hover{
    background-color: #dbd7d7;
}
.top-menus ul li.active{
    background-color: #F83B3B;
    color: #fff;
}
.left-panel .middle-icon,
.left-panel .middle-icon2 {
    /* border: 1px solid black; */
    width: 15px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0px 0 auto;
    /*60*/
    background-color: #ddd;
    color: #333;
    cursor: pointer;
}
.bottom-calender{
    margin-top: 125px;
    /* border: 1px solid black; */
    height: 250px;
}
.bottom-calender .top-month{
    display: flex;
    height: 30px;
    justify-content: space-around;
    /* border: 1px solid black; */
}
.top-month p{
    padding-top: 5px;
    font-weight: 550;
    color: #F83B3B;
}
.top-month button{
    padding-top: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #514848;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
}
.bottom-calender .day-names{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0 5px;
    margin-top: 5px;
}
.day-names p{
    width: 25px;
    font-size: 11px;
    text-align: center;
    color: #555;
}
.bottom-calender .days{
    margin-top: 15px;
}
.days .days-line{
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-bottom: 7px;
    padding: 0 5px;
}
.days-line p{
    /* border: 1px solid black; */
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: small;
    background-color: #f7f7f7;
    color: #333;
}
.days-line .day.today{
    background-color: #F83B3B;
    color: #fff;
}
.days-line .day.deadline{
    background-color: #031738;
    color: #fff;
    cursor: pointer;
}
.days-line .inactive{
    color: #dbd7d7;
}
.days-line .today{
    background-color: #0a4fa3;
    color: #fff;
}
.days-line .deadline{
    background-color: #F83B3B;
    color: #fff;
    cursor: pointer;
}

.left-panel.active {
    transition: all .5s ease-in-out;
    display: inline-block;
    width: 70px;
}

.bottom-calender.active {
    display: none;
}

.left-panel .middle-icon2 {
    display: none;
}

.left-panel .middle-icon2.active {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: -15px;
}

.left-panel .middle-icon.active {
    display: none;
}

.top-menus .menu-icon {
    transition: all .5s ease-in-out;
    display: none;
}

.top-menus .menu-icon li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 10px
}

.top-menus .menu-icon li i {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.top-menus .menu-icon.active {
    transition: all .2s ease-in-out;
    margin-left: -20px;
    display: block;
}

.top-menus .menu.active {
    display: none;
}
.top-menus ul a li{
    list-style: none;
}
.top-menus ul a{
    text-decoration: none;
}




.right-panel{
    /* position: fixed; */
    margin: 60px 0 0 250px;
    height: 100%;
    width: 1250px;
    transition: all 1s ease-in-out;
}
.right-panel.active {
    position: fixed;
    margin: 60px 0 0 110px;
    height: 100%;
    width: 90vw;
    transition: all 1s ease-in-out;
    /* border: 1px solid black; */
}

.search-bar{
    /* border: 1px solid black; */
    height: 60x;
    display: flex;
}

.search-box{
    /* border: 1px solid black; */
    margin: 15px 0px 0 0;
    width: 750px;
    /* position: absolute; */
    display: flex;
}

.search-bar a{
    /* border: 1px solid black; */
    width: 300px;
    font-size: 20px;
    font-weight: 650;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color:#031738;
    text-decoration: none;
}
.search-box input{
    margin-left: 40%;
    width: 50%;
    height: 34px;
    border-radius: 8px;
    border: 1px solid #999;
    padding-left: 1%;
}
.search-box i{
    border: none;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5c5757;
    cursor: pointer;
}





.TO-DO-task-details{
    display: none;
    position: fixed;
    width: 600px;
    max-height: 450px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    margin: 25px 0 0 175px;
    padding: 15px;
    transition: all 1s ease;
    background-color: #fff;
}
.TO-DO-task-details.active{
    display: block;
}



.TO-DO-task-details .top-bar{
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-bottom: 10px;
}
.top-bar h3{
    margin-left: 10px;
    font-size: 20px;
    max-width: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: #031738;
}
.top-bar p{
    /* border: 1px solid black; */
    font-size: 12px;
    margin-right: 15px;
    height: 18px;
    padding: 2px 10px;
    border-radius: 5px;
    color: #fff;
}
.top-bar p.high{
    background-color: #FB160D;
}
.top-bar p.medium{
    background-color: #F0B11D;
}
.top-bar p.low{
    background-color: #20B289;
}
.TO-DO-task-details .task-details-description{
    font-size: 13px;
    width: 80%;
    max-height: 90px;
    border-bottom: 10px;
    color: #222;
    margin: 20px 0 0 40px;
}
.TO-DO-task-details .task-details-deadline{
    font-size: 12px;
    color: #FB160D;
    margin-left: 25px;
    margin-top: 20px;
}
.task-details-deadline span{
    color: #20B289;
    margin-left: 75px;
}

.TO-DO-task-details .task-feedbacks{
    border: 1px solid #eee;
    border-radius: 12px;
    margin: 20px;
    height: 200px;
    width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}



.task-feedbacks .task-feedback-messages{
    height: 167px;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}
.incomming-feedback{
    display: flex;
}
.incomming-feedback-sender{
    display: flex;
    margin: auto 0 0 0;
}
.incomming-feedback-sender img{
    height: 25px;
    border-radius: 50%;
}
.incomming-feedback-message{
    background-color: #f0f0fb;
    max-width: 250px;
    width: fit-content;
    margin: 2px 0 2px 5px;
    padding: 8px 12px 8px 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    display: flex;
}

.incomming-feedbacks{
    font-size: 13px;
}
.incomming-time{
    font-size: 9px;
    margin: auto 0 0 15px;
    color: #222;
}

.outgoing-feedback{
    display: flex;
}
.outgoing-feedback-message{
    display: flex;
    background-color: #b9dccb;
    max-width: 250px;
    width: fit-content;
    margin: 2px 0 2px auto;
    padding: 8px 12px 8px 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
}
.outgoing-feedbacks{
    font-size: 13px;
}
.outgoing-time{
    font-size: 9px;
    margin: auto 0 0 15px;
    color: #333;
}



.task-feedbacks form input{
    height: 30px;
    border: none;
    outline: none;
    width: 366px;
    border-bottom-left-radius: 12px;
    background-color: #f8f8f8;
    padding-left: 15px;
    margin-right: -4px;
    /* border: 1px solid black; */
}
.task-feedbacks form button{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    font-size: 20px;
    color: #20B289;
    background-color: #fff;
    /* border: 1px solid black; */
    border-bottom-right-radius: 12px;
}

.TO-DO-task-details .buttons{
    display: flex;
    /* border: 1px solid black; */
    width: 220px;
    margin-left: 350px;
}
.buttons a{
    margin:  0 10px 0 10px;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #20B289;
    color: #fff;
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
}
.buttons p[id="continueBtn"]{
    margin:  0 10px 0 10px;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #20B289;
    color: #fff;
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
}
#finishTaskBtn{
    margin:  0 10px 0 10px;
    padding: 7px 18px;
    border-radius: 5px;
    background-color: #20B289;
    color: #fff;
    font-weight: 550;
    text-decoration: none;
    cursor: pointer;
}
#cancel-task-details{
    background-color: #F83B3B;
}

#completedMessage{
    margin-left: -320px;
    font-size: 13px;
    overflow: hidden;
    /* border: 1px solid black; */
    width: 600px;
    height: 20px;
    color: #031738;
    font-weight: 550;
}
#confirmationMessage span{
    color: #333;
}





.task-boards{
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 3px 0 0 5px;
}

.task-boards .board{
    height: fit-content;
    max-height: 590px;
    overflow-y: scroll;
    width: 280px;
    margin: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    padding: 15px 10px 10px 10px;
    background-color: #fff;
    /* border: 1px solid black; */
}
.board .board-top{
    display: flex;
    justify-content: space-between;
}


.board-top i{
    margin-right: 20px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    color: #444;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.board-top i:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::-webkit-scrollbar {
    width: 0px;
  }
.board h3{
    width: fit-content;
    color: #444;
    margin: 5px 0 15px 15px;
}
.board .tasks{
    /* border: 1px solid black; */
    height: fit-content;
    max-height: 520px;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 15px;
}
.board .task{
    height: 100px;
    margin: 0 5px 15px 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    background-color: #F7F7F7;
    cursor: pointer;
}
.task.dragging{
    opacity: 0.5;
}
.task .top-task{
    display: flex;
    justify-content: space-between;
}
.top-task .priority-high{
    color: #fff;
    background-color: #F83B3B;
    width: 50px;
    font-size: 12px;
    height: 16px;
    text-align: center;
    margin: 8px 12px 0 0;
    padding-top: 1px;
    border-radius: 4px;
}
.top-task .priority-medium{
    color: #fff;
    background-color: #F0B11D;
    width: 50px;
    font-size: 12px;
    height: 16px;
    text-align: center;
    margin: 8px 12px 0 0;
    padding-top: 1px;
    border-radius: 4px;
}
.top-task .priority-low{
    color: #fff;
    background-color: #20B289;
    width: 50px;
    font-size: 12px;
    height: 16px;
    text-align: center;
    margin: 8px 12px 0 0;
    padding-top: 1px;
    border-radius: 4px;
}
.top-task h4{
    color: #222;
    font-size: 15px;
    margin: 8px 12px;
    max-height: 20px;
    overflow: hidden;
    /* border: 1px solid black; */
}
.top-task p{
    color: #fff;
    background-color: #F83B3B;
    width: 50px;
    font-size: 12px;
    height: 16px;
    text-align: center;
    margin: 8px 12px 0 0;
    padding-top: 1px;
    border-radius: 4px;
}
.task .task-description{
    font-size: 12px;
    margin: 3px 25px;
    height: 30px;
    width: 190px;
    overflow-x: hidden;
    overflow-y: hidden;
}
.task .bottom-task{
    display: flex;
    justify-content: space-between;
    max-height: 30px;
}
.bottom-task p{
    width: fit-content;
    font-size: 11px;
    margin-left: 15px;
    color: #FB160D;
    margin-top: 5px;
}
#Pending{
    width: fit-content;
    font-size: 11px;
    margin-left: 15px;
    color: #031738;
    margin-top: 5px;
    font-style: italic;
    font-weight: 550;
}
#member-profile{
    width: 25px;
    height: 25px;
    margin: 0 15px 5px 0;
    border-radius: 50%;
}




.right-panel .confirmation-popup{
    display: none;
    position: fixed;
    width: 400px;
    height: 180px;
    padding: 10px;
    margin: 120px 0 0 275px;
    border: 1px solid #dbd7d7;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 1s ease;
}
.confirmation-popup.active{
    display: block;
}
.close-area i{
    margin-left: 360px;
    color: #333;
    cursor: pointer;
}
.confirmation-popup .message-area{
    height: 120px;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 5px;
}
.message-area p{
    border: 1px solid #d1d1d1;
    width: fit-content;
    max-width: 280px;
    max-height: 100px;
    overflow: hidden;
    padding: 8px;
    font-size: 13px;
    margin-left: auto;
    margin-right: 8px;
    background-color: #f5f5f5;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    display: none;
}
.message-area p.active{
    display: block;
}
.confirmation-popup .input-area{
    /* border: 1px solid black; */
    height: 25px;
}
.input-area input{
    height: 24px;
}
.input-area input[type="text"]{
    padding-left: 10px;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    border-radius: 5px;
    width: 330px;
}

.input-area label{
    border: 1px solid #f1f1f1;
    color: #555;
    background-color: #f9f9f9;
    cursor: pointer;
}
.input-area button{
    height: 22px;
    width: 22px;
    font-size: 15px;
    background-color: #fff;
    border: none;
    outline: none;
    color: #20B289;
    cursor: pointer;
}
