<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects | Dashboard</title>
    <link rel="stylesheet" href="/View/styles/style_dashboard.css">
    <link rel="stylesheet" href="/View/styles/user/archived_projects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="onLoad()">

    <div class="container">

        <div class="navbar">
            <div class="left-logo-area">
                <a href="http://localhost/public/user/dashboard" style="text-decoration: none;">
                    <img src="/View/images/logo.png" alt="logo" class="logo">
                </a>
                
            </div>
            <div class="right-profile-area">
                <button type="submit" class="navbar-new-project">+ New Project</button>
                <i class="fa fa-bell-o  notification-bell-btn" aria-hidden="true"></i>
                <i class="fa fa-sign-out" id="log-out-btn" aria-hidden="true"></i>
                <a href="http://localhost/public/user/profile"><img src="/View/images/dp.png" alt="profile picture" class="profile-image"></a>
            </div>
        </div>

        <div class="projects-container">
            <div class="left-panel">
                <div class="top-menus">
                    <ul class="menu">
                    
                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none;">
                            <li class="dashboard active">Dashboard</li>
                        </a>
                        <!-- <li class="new-project">New project</li> -->
                        <a href="http://localhost/public/user/profile" style="text-decoration: none;">
                            <li class="profile">Profile</li>
                        </a>
                        <a href="http://localhost/public/user/sketch" style="text-decoration: none;">
                            <li class="sketch-idea">Sketch idea</li>
                        </a>
                        <li id="archived-projects">Archived projects</li>
                    </ul>
                    <ul class="menu-icon">
                        <a href="http://localhost/public/user/dashboard" style="text-decoration: none; color: #333;">
                            <li class="dashboard active"><i class="fa fa-address-book" aria-hidden="true"></i></li>
                        </a>

                        <a href="http://localhost/public/user/profile" style="text-decoration: none;">
                        <li class="profile"><i class="fa fa-user" aria-hidden="true"></i></li>
                        </a>

                        <a href="http://localhost/public/user/sketch" style="text-decoration: none; color: #333;">
                            <li class="sketch-idea"><i class="fa fa-paint-brush" aria-hidden="true"></i></li>
                        </a>

                        <li id="archived-projects-2"><i class="fa-solid fa-box-archive"></i></li>

                        <li class="calender"><i class="fa fa-calendar" aria-hidden="true"></i></li>
                    </ul>
                </div>
                <div class="middle-icon">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </div>
                <div class="middle-icon2" style="margin-top: 0px;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>

                <div class="bottom-calender">
                    <div class="top-month">
                        <button type="submit" class="previous-month-btn"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
                        <p><span class="month"></span> <span class="year"></span></p>
                        <button type="submit" class="next-month-btn"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
                    </div>
                    <div class="day-names">
                        <p>Mon</p>
                        <p>Tue</p>
                        <p>Wed</p>
                        <p>Thu</p>
                        <p>Fri</p>
                        <p>Sat</p>
                        <p>Sun</p>
                    </div>
                    
                    <div class="days">

                    </div>
                </div>

                <div class="deadline-popup">
                    <h3>Events</h3>
                    <hr>
                    <div class="events">
                        <p>Build meeting API</p>
                        <p>Design UI</p>
                    </div>
                </div>
                
            </div>
            <div class="right-panel">
                <div class="search-bar">

                    <div class="search-box">
                        <input type="text" placeholder="Search your project ...">
                        <!-- <i class="fa fa-filter" aria-hidden="true"></i> -->
                    </div>

                    <div class="toast-notification ">
                        <div class="sender-img">
                            <img src="/View/images/dp.png" alt="notification sender">
                        </div>
                        <div class="details">
                            <div class="notification-top">
                                <h3 class="sender-name"></h3>
                                <button type="submit" class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <p class="notification-msg"></p>
                            <div class="notification-bottom">
                                <p class="send-date"><span class="time"></span></p>
                                <p class="notification-project-name"> <i>- Marshal Project -</i> </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="projects">

                </div>
                <div class="archived_projects_container">
                    <h3>Archived projects</h3>
                    <hr>
                    <div class="archived_projects">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="notification-popup-container">
            <div class="notification-popup">
                <div class="notification-popup-top">
                    <h3>Notifications</h3>
                    <i class="fa fa-times notification-popup-close-btn" aria-hidden="true"></i>
                </div>
                <div class="notifications">

                </div>
            </div>
        </div>

        <div class="create-project-container">
            <div class="create-project-popup">
                <div class="create-project-top">
                    <div class="create-project-header">
                        <h3>Let's create a workspace.</h3>
                        <p>Make it simpler for everyone to access boards in one place to increase productivity.</p>
                    </div>
                    <i class="fa fa-times create-project-popup-close" aria-hidden="true"></i>
                </div>
                <div class="create-project-details">
                    <div class="create-project-form">
                        <form action="http://localhost/public/user/projects" method="post">
                            <label for="projec_name">Project Name</label>
                            <br>
                            <input type="text" name="project_name" placeholder="Enter project name ...">
                            <br>
                            <p>Your business, group, or organization's name is here.</p>

                            <label for="field">Project Type</label>
                            <br>
                            <input type="text" name="field" placeholder="Enter project type ...">

                            <br>
                            <label for="end_on">Project Deadline</label>
                            <br>
                            <input type="date" name="end_on">
                            <label for="description">Project Description</label>
                            <br>
                            <input type="text" id="description" name="description" placeholder="Please enter something on your project ... ">

                            <br>
                            <button type="submit">CREATE</button>
                        </form>
                    </div>
                    <img src="/View/images/project_create.png" alt="project_create">
                </div>
            </div>
        </div>

        

    </div>

    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/user/dashboard.js"></script>
    <script src="/View/js/user/logout.js"></script>
    <script src="/View/js/user/calendar.js"></script>
    <script src="/View/js/user/createProject.js"></script>
    <script src="/View/js/user/sidebar.js"></script>
    <script src="/View/js/user/notification.js"></script>
    <script src="/View/js/user/notificationPopup.js"></script>
    <script src="/View/js/user/archived.js"></script>
    <script src="https://kit.fontawesome.com/0ecc390bb7.js" crossorigin="anonymous"></script>
</body>

</html>
