<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/styles/styles_less.css">
    <title>Marshal</title>
</head>

<body>

    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">MARSHAL</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links" list-style-type="none">
            <div class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </div>
        </ul>
    </nav>

    <div class="container-login">

        <h1>Forgot password</h1>
        <form id="forgot-password-form">
            <label for="email_address">Enter you email address</label>
            <input type="email" name="email_address" id="email_address">
            <button type="submit">Send</button>
        </form>

        <div id="verification-form-div" style="display: none;">
            <h1>Enter the verification code</h1>
            <form id="verification-code-submission-form">
                <label for="verification_code">Enter the verification code that you received</label>
                <input type="text" name="verification_code" id="verification_code">
                <button type="submit">Verify</button>
            </form>
        </div>


        <div id="password-update-form-div" style="display: none;">
            <h1>Change the password</h1>
            <form id="password-update-form">
                <label for="new_password">Enter the new password</label>
                <input type="password" name="new_password" id="new_password">
                <label for="re_enter_new_password">Re-enter the new password</label>
                <input type="password" name="re_enter_new_password" id="re_enter_new_password">
                <button type="submit">Update</button>
            </form>
        </div>

    </div>

    <script src="/View/js/user/forgot_password.js"></script>

</body>

</html>