<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/View/styles/styles_less.css" />
    <link rel="stylesheet" href="/View/styles/user/profilepagestyels.css" />
    <link rel="stylesheet" href="/View/styles/landing.css" />
    <title>Marshal</title>
</head>

<body onload="OnLoad()">

    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">MARSHAL</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links" list-style-type="none">
            <div class="menu">
                <button id="create-project-btn">Create new project</button>
                <a href="http://localhost/public/user/dashboard">
                    <button>Dashboard</button>
                </a>
                <button id="log-out-btn">Log Out</button>
            </div>
        </ul>
    </nav>

    <img id="profile-picture-img" alt="Profile Picture" class="profile-picture">
    <h1 class="username" id="username-header"></h1>
    <h4 class="username" id="bio-header"></h4>
    <div>
        <button id="edit-profile-btn">Edit Profile Details</button>
        <button id="cancel-changes-btn" style="display: none;" disabled>Cancel Changes</button>
        <form id="edit-profile-form">
            <br>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" disabled required>

            <br>
            <label for="email_address">Email Address</label>
            <input type="email" id="email_address" name="email_address" disabled required>

            <br>
            <label for="first_name">First name</label>
            <input type="text" id="first_name" name="first_name" disabled required>

            <br>
            <label for="last_name">Last name</label>
            <input type="text" id="last_name" name="last_name" disabled required>

            <br>
            <label for="phone_number">Phone Number</label>
            <input type="tel" id="phone_number" name="phone_number" disabled required>

            <br>
            <label for="Position">Position</label>
            <input type="text" id="position" name="position" disabled>

            <br>
            <label for="status">Status</label>
            <input type="text" id="status" name="user_status" disabled required>

            <br>
            <label for="bio">Bio</label>
            <input type="text" id="bio" name="bio" disabled>

            <br>
            <button type="submit" id="save-changes-btn" style="display: none;">Save Changes</button>
        </form>
    </div>

    <br>
    <br>

    <form id="edit-profile-picture-form" enctype="multipart/form-data">
        <label for="profile-picture">Upload a profile picture here</label>
        <input type="file" name="profile_picture" id="profile-picture">
        <button type="submit">Upload</button>
    </form>

    <br>
    <br>

    <button id="change-password-btn" style="width: 200px;">Change the password</button>

    <div id="verify-password-form-div" style="display: none;">
        <form id="verify-password-form">
            <label for="old_password">Enter you current password</label>
            <input type="password" id="old_password" name="old_password" placeholder="Enter your current password" required>
            <button type="submit">Verify</button>
        </form>
    </div>

    <br>
    <br>

    <div id="update-password-form-div" style="display: none;">
        <form id="update-password-form">
            <label for="new_password"></label>
            <input type="password" id="new_password" name="new_password" placeholder="Enter the new password" required>
            <label for="re_entered_new_password"></label>
            <input type="password" id="re_entered_new_password" name="re_entered_new_password" placeholder="Re-enter the new password" required>
            <button type="submit">Update</button>
        </form>
    </div>

    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
        console.log(jsonData);
    </script>
    <script src="/View/js/user/profilepage.js"></script>
<!--<script src="/View/js/user/client.js"></script>-->
</body>

</html>