<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3fd5abf68b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/View/styles/user/user_singup_style.css">
    <title>Marshal | SignUp</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="form signup">
                <form method="POST" action="http://localhost/public/user/signup">
                    <h2 class="title">join with us</h2>
                    <div class="input-field" id="full-name">
                        <div class="icon-container">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="first-name">

                            <label for="firstName" hidden></label>
                            <input type="text" placeholder="First Name" name="first_name" id="first_name" required>

                        </div>
                        <div class="last-name">
                            <label for="lastName" hidden></label>
                            <input type="text" placeholder="Last Name" name="last_name" id="last_name" required>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="icon-container">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="email">
                            <label for="Email" hidden></label>
                            <input type="text" placeholder="Username" name="username" id="username" required>
                        </div>
                    </div>

                    <div class="input-field">
                        <div class="icon-container">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="email">
                            <label for="Email" hidden></label>
                            <input type="email" placeholder="Email" name="email_address" id="email_address" required>
                        </div>
                    </div>

                    <div class="input-field">
                        <div class="icon-container">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="email">
                            <label for="Email" hidden></label>
                            <input type="tel" placeholder="Phone number" name="phone_number" id="phone_number" pattern="^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$" required>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="icon-container">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="email">
                            <label for="password" hidden></label>
                            <input type="password" placeholder="Password" name="password" id="password" required>
                        </div>
                    </div>

                    <div class="input-field">
                        <div class="icon-container">
                            <i class="fa fa-lock"></i>
                        </div>
                        <div class="email">
                            <label for="confirm password" hidden></label>
                            <input type="password" placeholder="Re-Enter Password" name="password_re_enter" id="password_re_enter" required>
                        </div>
                    </div>

                    <div class="input-field button">
                        <div class="icon-container into">
                            <i class="fa fa-right-to-bracket"></i>
                        </div>
                        <div class="email">
                            <input type="submit" value="Signup">
                        </div>
                    </div>
                    <div class="login-signup">
                        <div class="line"></div>
                        <br>
                        <span class="text">Already a member?
                        <a  href="./login" class="text login-link"> Login Now</a>
                    </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="image-container">
            <img src="/View/images/user/user_signup.svg" alt="user signup">
        </div>
    </header>
    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/user/signup.js"></script>
</body>

</html>