





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Iconscout CSS-->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- CSS-->
    <link rel="stylesheet" href="/View/styles/user/signup.css">
    <title>Marshal-signup</title>

</head>
<body>
    <div class="container">

        <div class="form signup">
            <span class="title">SignUp</span>

            <form class="signup-form" action='http://localhost/public/user/signup' method="post">
                
                <p id="success"></p>
                <p id="error-message"></p>
                
                <div class="input-field" id="full-name">

                    <div class="first-name">
                        <label for="first_name" hidden></label>
                        <input type="text" value="" id="first_name" name="first_name" placeholder="First name" >
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="last-name">
                        <label for="last_name" hidden></label>
                        <input type="text" value="" name="last_name" id="last_name" placeholder="Last name" >
                        <i class="uil uil-user"></i>
                    </div>

                </div>
                <div class="input-field">
                    <label for="email_address" hidden></label>
                    <input type="email" value="" name="email_address" id="email_address" placeholder="Enter your email" >
                    <i class="uil uil-envelope icon"></i>

                </div>
                <div class="input-field">
                    <label for="username" hidden></label>
                    <input type="text" value="" name="username" id="username" placeholder="Enter username" >
                    <i class="uil uil-envelope icon"></i>

                </div>
                <div class="input-field">
                    <label for="password" hidden></label>
                    <input type="password" name="password" id="password" class="password" placeholder="Create a password" >
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>

                </div>
                <div class="input-field">
                    <label for="password_re_enter"></label>
                    <input type="password" name="password_re_enter" id="password_re_enter" class="password" placeholder="Confirm the password" >
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>

                </div>

                <div class="checkbox-text">
                    <div class="checkbox-content">
                        <input type="checkbox" id="termCon">
                        <label for="termCon" class="text">I accepted all terms and conditions</label>
                    </div>
                </div>

                <div class="input-field button">
                    <button type="submit" class="signupbtn">SignUp</button>  
                </div>
            </form>

            <div class="login-signup">
                <span class="text">Already a member?
                    <a class="text login-link" href="./login">Login now</a>
                </span>
            </div>
        </div>
    </div>
    <script>
        var jsonData = JSON.parse('<?= $data; ?>');
    </script>
    <script src="/View/js/user/signup.js"></script>
</body>
</html>