<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marshal</title>
</head>

<body>

    <style>
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            text-align: center;
        }
        
        h1 {
            margin-top: 40px;
            color: #ff0000;
            font-size: 36px;
            margin-top: 50px;
        }
        
        p {
            color: #000000;
            font-size: 18px;
            margin-top: 20px;
        }
    </style>
    </head>

    <body>
        <h1>Welcome to Marshal Project Management!</h1>
        <p>
            Please check your email to verify your account.<br> Please click on the link mentioned you will be redirected afterwards.
        </p>
    </body>

</html>