<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3fd5abf68b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/View/styles/admin/admin_login_style.css">
    <title>Marshal | Login</title>
</head>
<body>
    <header>
    <div class="container">
        <div class="form signup">
            <form action="http://localhost/public/admin/login" method="POST" name="form" onsubmit="return validated()">
                <h2 class="title-login">login into marshal</h2>
                <div id="error">
                    <p id="error_msg"></p>
                </div>
                <div class="input-field">
                    <div class="icon-container">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="email">
                        <label for="Username" hidden></label>
                        <input type="text" placeholder="Username" name="username" id="username" required>
                    </div>
                </div>
                
                <div class="input-field">
                    <div class="icon-container">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="email">
                        <label for="password" hidden></label>
                        <input type="password" placeholder="Password" name="password" id="password" required>
                    </div>
                </div>
                <div class="input-field button">
                    <div class="icon-container into">
                        <i class="fa fa-right-to-bracket"></i>
                    </div>
                    <div class="email">
                        <input type="submit" value="Login">
                    </div>
                </div>
                <div class="login-signup">
                    <div class="line"></div>
                    <br>
                </div>
            </form>
        </div>
    </div>
    <div class="image-container">
        <img src="/View/images/admin/admin_login.svg" alt="">
    </div>
</header>
<script>
    var jsonData = JSON.parse('<?= $data; ?>');
</script>
<script src="/View/js/admin/login.js"></script>
</body>
</html>