@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.wrapper-2{
  position: absolute;
  top: 460px;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  height:220PX;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  display: none;
}
.wrapper-2.active{
  transition: all 3s ease-in-out;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrapper-2 .left{
  width: 35%;
  background: linear-gradient(to right,#363740,#565b5b);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper-2 .left img{
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.wrapper-2 .left h4{
  margin-bottom: 10px;
}

.wrapper-2 .left p{
  font-size: 12px;
}

.wrapper-2 .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wrapper-2 .right .info{
  margin-top: -27px;
}

.wrapper-2 .right .info,
.wrapper-2 .right .projects{
  margin-bottom: 25px;
}

.wrapper-2 .right .info h3,
.wrapper-2 .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper-2 .right .info_data,
.wrapper-2 .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper-2 .right .info_data .data,
.wrapper-2 .right .projects_data .data{
  width: 45%;
}

.wrapper-2 .right .info_data .data h4,
.wrapper-2 .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper-2 .right .info_data .data p,
.wrapper-2 .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #808488;
}

.buttons-container{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* background-color: #01a9ac; */
}
.buttons-container form{
  margin-right: 20PX;
}
.buttons-container button{
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3PX;
  transition: all .5s ease-in-out;
}
.buttons-container .w2-block-btn{
  background-color: #ef3038;
}
.buttons-container .w2-unblock-btn{
  background-color: #3cd070;
}

.buttons-container .w2-block-btn:hover{
  background-color: #d7262f;
  color: #fff;
}
.buttons-container .w2-unblock-btn:hover{
  background-color: #27ad56;
  color: #fff;
}