@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}

header{
    position: relative;
    width: 100%;
    height: 100vh;
}

.container{
    position: absolute;
    max-width: 450px;
    width: 100%;
    background: #363740;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    left:35%;
    top:50px;
    position: fixed;
}

.container .form{
    width: 100%;
    padding: 30px;
    background-color: #363740;
    transition: margin-left 0.18s ease;
} 

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 140px;
}

.container .form .title-login{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 100px;
}



.form .input-field{
    position: relative;
    height: 50px;
    margin-top: 30px;
    display: flex;

}

#full-name{
    position: relative;
    height: 50px;
    margin-top: 30px;
    justify-content: space-between;
    display: flex;
}
.first-name,.input-field input{
    position: relative;
    width: 48%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    margin:0 10px;
    border-radius: 25px;
}
.email,.input-field input{
    position: relative;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    margin:0 10px;
    border-radius: 25px;
}
.last-name{
    position: relative;
    width: 48%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 25px;
}
.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    transition: all 0.2s ease;
    border-radius: 25px;
    padding-left: 25px;
}

.form .text{
    color: #bbb;
    font-size: 14px;
}

.form a.text{
    color: #fff;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #787777;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #1c1c20;
    cursor: pointer;
}

.button input:hover{
    background-color: #0f0f11;
    color: #fff;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}

.form .login-signup .line{
    height:.5px;
    width:100%;
    background-color: #D9D9D9;
}

.form .login-signup div{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.image-container{
    position:absolute;
    margin-top: 400px;
    width: 400px;
    height:300px;
    right:10%;
    bottom: 2%;
    position: fixed;
}
.image-container img{
    width: 100%;
    height: 100%;
}

.icon-container{
    height: 50px;
    width: 60px;
    border-radius: 50%;
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.into{
    background-color:#59595d;
    color:#999999;
}

.icon-container i{
    color:#6A6464;
    font-size:20px;
}

.into i{
    color:#bda2a2;
}

 #email_error{
	margin-top: 5px;
    margin-left: 80px;
    margin-bottom: -20px;
	width: 285px;
	font-size: 15px;
	color: #ffffff;
    background-color: #aaaaaa;
	text-align: center;
	padding: 5px 8px;
	border-radius: 25px;
	display: none;
	
}

@media only screen and (max-width: 1430px) {
   
    .container{
        max-width: 430px;
        left:30%;
    }
    .image-container{
        width: 380px;
        height:280px;
    }
    .container .form .title{
        font-size: 25px;
    }
  }


@media only screen and (max-width: 1240px){
  
    .container{
        max-width: 430px;
        left:28%;
    }
} 

@media only screen and (max-width: 1200px){
   

    .container{
        max-width: 430px;
        left:25%;
    }
} 

@media only screen and (max-width: 1240px){
   

    .container{
        max-width: 430px;
        left:20%;
    }
} 
@media only screen and (max-width: 1260px){
  
    .container{
        max-width: 430px;
        left:10%;
    }
} 
@media only screen and (max-width: 930px){
 
    .container{
        max-width: 430px;
        left:2%;
    }
} 

@media only screen and (max-width: 850px){
 

    .container{
        max-width: 430px;
        left:20%;
    }
    .image-container{
        display: none;
    }
}

@media only screen and (max-width: 630px){
  
    .container{
        max-width: 430px;
        left:5%;
    }
    .image-container{
        display: none;
    }
}
